.popover-wrapper {
  position: relative;
  height: auto;
  z-index: 2;
}

.popover {
  position: absolute;
  z-index: 3;
  top: 100%;
  &.align-left {
    left: 0;
    right: auto;
  }
  &.align-right {
    right: 0;
    left: auto;
  }
}
