@import '../../styles/variables';
@import '../../styles/mixins';

.dropdown__wrapper {
  z-index: 3;
}

.dropdown__menu {
  background-color: $white;
  @include box-shadow(2);
  min-width: 132px;
  border-radius: 4px;
  padding: 8px 0;
  border: 1px solid $grey-300;
}

.dropdown__btn--toggle {
  padding: 4px 16px 4px 4px;
  min-height: 0;
  position: relative;
  text-align: left;
  min-width: 0;
  .feather {
    position: absolute;
    right: 0;
    width: 14px;
    height: 14px;
  }
  &:hover,
  &.is-active {
    color: $primary;
  }
}

.dropdown__radio {
  display: none;
  &:checked + .dropdown__label {
    color: $primary;
    &:hover {
      color: $white;
    }
  }
}

.dropdown__label {
  position: relative;
  display: inline-block;
  padding: 6px 8px 6px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  &:hover {
    cursor: pointer;
    background-color: $primary;
    color: $white;
    .feather {
      color: $white;
    }
  }
  .feather {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    color: $primary;
  }
}
