@import '../../styles/variables';
@import '../../styles/mixins';

.tag {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5000px; // allows for pill-shape, without set width or height
  color: $grey-800;
  width: auto;
  vertical-align: middle;
  position: relative;
  flex: none;
  margin: 2px 0.175em;
  line-height: 1;
  &:first-child {
    margin-left: 0;
  }
  .tag__btn--delete {
    position: absolute;
    right: 10.4px;
    top: calc(50% - 7px);
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
    color: $white;
    .feather {
      width: 12px;
      height: 12px;
      font-size: 12px;
      vertical-align: top;
    }
  }
}

.tag__link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  span {
    pointer-events: none;
  }
}

.tag--md {
  font-size: 13px;
  line-height: 16px;
  height: 30px;
  .tag__link {
    padding: 0 28.4px 0 10.4px;
    vertical-align: middle;
    line-height: 28px;
  }
  margin: 2px 0.175em;
}

.tag--sm {
  font-size: 10px;
  line-height: 1.15;
  .tag__link {
    padding: 0.2em 0.6em;
  }
}

.tag--pill {
  width: 40px;
  max-width: 40px;
  height: 6px;
  padding: 0;
  flex: 1 1 auto;
  &:not(:first-child) {
    margin-left: 4px;
  }
  &:not(:last-child) {
    margin-right: 4px;
  }
  .tag__name {
    display: none;
  }
}

// Background Colors

.tag.bg--default {
  background-color: $grey-100;
  color: $grey-800;
  border-color: $grey-400;
  .tag__btn--delete {
    color: $grey-500;
  }
  &:hover {
    background-color: darken($grey-100, 15%);
  }
}

.tag.bg--blue {
  background-color: $blue;
  color: $white;
  &:hover {
    background-color: darken($blue, 15%);
  }
}
.tag.bg--green {
  background-color: $green;
  color: $white;
  &:hover {
    background-color: darken($green, 15%);
  }
}
.tag.bg--pink {
  background-color: $pink;
  color: $white;
  &:hover {
    background-color: darken($pink, 15%);
  }
}
.tag.bg--orange {
  background-color: $orange;
  color: $white;
  &:hover {
    background-color: darken($orange, 15%);
  }
}
.tag.bg--purple {
  background-color: $purple;
  color: $white;
  &:hover {
    background-color: darken($purple, 15%);
  }
}

.tag.bg--red {
  background-color: $red;
  color: $white;
  &:hover {
    background-color: darken($red, 15%);
  }
}

.tag.bg--teal {
  background-color: $teal;
  color: $white;
  &:hover {
    background-color: darken($teal, 15%);
  }
}

.tag.bg--cyan {
  background-color: $cyan;
  color: $white;
  &:hover {
    background-color: darken($cyan, 15%);
  }
}

.tag.bg--grape {
  background-color: $grape;
  color: $white;
  &:hover {
    background-color: darken($grape, 15%);
  }
}

.tag.bg--violet {
  background-color: $violet;
  color: $white;
  &:hover {
    background-color: darken($violet, 15%);
  }
}

.tag.bg--indigo {
  background-color: $indigo;
  color: $white;
  &:hover {
    background-color: darken($indigo, 15%);
  }
}

.tag.bg--yellow {
  background-color: $yellow;
  color: $white;
  &:hover {
    background-color: darken($yellow, 15%);
  }
}

.tag.is-focused {
  background-color: $primary;
  color: #fff;
  .tag__btn--delete {
    color: $white;
  }
}

.tag--pill,
.tag--summary {
  cursor: pointer;
  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  &::after {
    content: attr(data-tooltip);
    background-color: $grey-800;
    color: $white;
    padding: 8px;
    top: calc(100% + 8px);
    left: calc(50% - 40px);
    text-align: center;
    display: block;
    border-radius: 4px;
    width: 80px;
  }
  &::before {
    content: '';
    width: 0;
    left: calc(50% - 8px);
    bottom: -8px;
    border-bottom: 8px solid $grey-800;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  &:hover,
  &.show-tooltip {
    box-shadow: none;
    &::before,
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}
