@import '../../styles/variables';
@import '../../styles/mixins';

.tag {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 5000px; // allows for pill-shape, without set width or height
  color: $grey-800;
  width: auto;
  vertical-align: middle;
  position: relative;
  flex: none;
  margin: 2px 0.175em;
  line-height: 1;
  &:first-child {
    margin-left: 0;
  }
  &.is-focused {
    background-color: $primary;
    color: #fff;
    .tag__btn--delete {
      color: $white;
    }
  }
  .tag__btn--delete {
    position: absolute;
    right: 10.4px;
    top: calc(50% - 7px);
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
    color: $white;
    .feather {
      width: 12px;
      height: 12px;
      font-size: 12px;
      vertical-align: top;
    }
  }
}

.tag__link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.tag--md {
  font-size: 13px;
  line-height: 16px;
  height: 30px;
  .tag__link {
    padding: 0 28.4px 0 10.4px;
    vertical-align: middle;
    line-height: 28px;
  }
  margin: 2px 0.175em;
}

.tag--sm {
  font-size: 10px;
  line-height: 1.15;
  .tag__link {
    padding: 0.2em 0.6em;
  }
}

.tag--pill {
  width: 40px;
  max-width: 40px;
  height: 6px;
  padding: 0;
  flex: 1 1 auto;
  &:not(:first-child) {
    margin-left: 4px;
  }
  &:not(:last-child) {
    margin-right: 4px;
  }
}

// Background Colors

.tag.bg--default {
  background-color: $grey-100;
  color: $grey-800;
  border-color: $grey-400;
  .tag__btn--delete {
    color: $grey-500;
  }
}

.tag.bg--blue {
  background-color: $blue;
  color: $white;
}
.tag.bg--green {
  background-color: $green;
  color: $white;
}
.tag.bg--pink {
  background-color: $pink;
  color: $white;
}
.tag.bg--orange {
  background-color: $orange;
  color: $white;
}
.tag.bg--purple {
  background-color: $purple;
  color: $white;
}

.tag.bg--red {
  background-color: $red;
  color: $white;
}

.tag.bg--teal {
  background-color: $teal;
  color: $white;
}

.tag.bg--cyan {
  background-color: $cyan;
  color: $white;
}

.tag.bg--grape {
  background-color: $grape;
  color: $white;
}

.tag.bg--violet {
  background-color: $violet;
  color: $white;
}

.tag.bg--indigo {
  background-color: $indigo;
  color: $white;
}

.tag.bg--yellow {
  background-color: $yellow;
  color: $white;
}
