@import '../../styles/variables';
@import '../../styles/mixins';

.user-tasks {
  max-width: 960px;
  width: 100%;
  padding: 0;
  @include md {
    padding: 0 8px;
  }
}

.user-tasks__wrapper {
  display: flex;
  justify-content: center;
  &.show-task-editor {
    .user-tasks {
      display: none;
    }
    @include md {
      .user-tasks {
        display: block;
        margin-right: 16px;
      }
    }
  }
}
