@import '../../styles/_variables';
@import '../../styles/_mixins';

.user-tasks {
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  max-width: 960px;
  width: 100%;
  padding: 16px;
}

.user-tasks__wrapper {
  display: flex;
  justify-content: center;
  &.show-task-editor {
    .user-tasks {
      display: none;
    }
    @include md {
      .user-tasks {
        display: block;
        margin-right: 16px;
      }
    }
  }
}
