@import '../../styles/variables';
@import '../../styles/mixins';


.notification {
  padding: 12px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  color: $grey-700;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  margin-bottom: 4px;
  @include lg {
    padding: 12px 16px;
    font-size: 13px;
  }
}

.notification__link {
  text-decoration: none;
  color: $primary;
  font-weight: 500;
  &--task {
    margin-left: 4px;
  }
  &--user-profile {
    margin-right: 4px;
  }
}

.notification__timestamp {
  display: inline-block;
  width: 100%;
  font-size: 11px;
  color: $grey-600;
  padding: 6px 0;
}

.notification__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.notification__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.notification__btn {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .03em;
  padding: 6px 8px;
  &--archive {
    color: $grey-600;
    &:hover {
      background-color: rgba($primary-lt, 0.3);
      color: $primary;
    }
  }
  &--accept {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
    &:hover {
      box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
      background-color: rgba($primary, 0.8);
    }
  }
  &--decline {
    &:hover {
      background-color: rgba($primary-lt, 0.3);
    }
  }
}