@import '../../styles/variables';
@import '../../styles/mixins';

.task {
  width: 100%;
  list-style-type: none;
  margin-left: auto;
  overflow: visible;
  box-shadow: inset 0px 3px 1px -2px $grey-200;
  position: relative;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  background-color: $white;
  &:focus,
  &.is-focused {
    box-shadow: inset 0px -3px 1px -2px rgba($primary, 0.8);
    background-color: rgba($primary-lt, 0.15);
    outline: none;
  }
  // Prevent task textarea focus on mobile for smoother transition to task editor
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 38px;
    height: 100%;
    width: calc(100% - 38px);
    z-index: 2;
  }
  .task__avatar {
    width: 19px;
    height: 19px;
    line-height: 18px;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
  .task__avatar-placeholder {
    font-size: 9px;
    font-weight: 600;
  }
  @include sm {
    &::before {
      display: none;
    }
  }
  @include md {
    padding: 2px 8px;
  }
}

.task__checkbox {
  width: 18px;
  height: 18px;
  top: 8px;
  left: 6px;
  border: 2px solid $grey-500;
  border-radius: 4px;
  display: inline-block;
}

.task__checkbox-label {
  vertical-align: top;
  padding: 8px 6px;
  width: 30px;
  height: 34px;
  .feather {
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    stroke-width: 4px;
  }
}

.task__textarea {
  border: none;
  padding: 0 6px;
  vertical-align: middle;
  font-size: 14px;
  overflow: visible;
  position: relative;
  background-color: transparent;
  &:active,
  &:focus {
    border-color: transparent;
  }
}

.task__badges {
  display: flex;
  align-items: center;
  min-height: 20px;
  margin-left: 6px;
  &--top {
    justify-content: flex-end;
    @include md {
    }
  }
  &--btm {
    justify-content: flex-start;
  }
}

.task__detail {
  font-size: 11px;
  line-height: 1;
  display: inline-block;
  color: $grey-700;
  padding: 0.24em 0.62em;
  .feather {
    width: 12px;
    height: 12px;
    vertical-align: bottom;
    margin-right: 4px;
  }
  &:not(:first-child) {
    margin-left: 4px;
  }
  &.task__due-date {
    font-weight: 600;
    color: $grey-900;
  }
  &.is-due-today {
    color: $secondary;
  }
  &.is-due-tmrw {
    color: $primary;
  }
  &.is-past-due {
    color: $red;
  }
}

.task__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 34px);
}

.task__members {
  display: flex;
  padding: 0;
  align-items: center;
  width: 100%;
}

.task__members-wrapper {
  padding: 0;
}

.task__tags {
  height: 19px;
}

.task__tag {
  margin-top: 0;
  margin-bottom: 0;
}
