@import '../../styles/variables';
@import '../../styles/mixins';

.task {
  width: 100%;
  padding: 8px;
  list-style: none;
  margin-left: auto;
  overflow: visible;
  box-shadow: 0px 1px 0 0 $grey-200;
  position: relative;
  &.is-focused {
    box-shadow: 0px 1px 0 0 rgba($primary, 0.8);
  }
  // Prevent task textarea focus on mobile for smoother transition to task editor
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 38px;
    width: 100%;
    height: 100%;
    width: calc(100% - 38px);
  }
  @include md {
    &::before {
      display: none;
    }
  }
}

.task__checkbox {
  width: 18px;
  height: 18px;
  top: 8px;
  left: 6px;
  border: 2px solid $grey-500;
  border-radius: 4px;
  display: inline-block;
}

.task__checkbox-label {
  vertical-align: top;
  padding: 8px 6px;
  width: 30px;
  height: 34px;
  .feather {
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    stroke-width: 4px;
  }
}

.task__textarea {
  border-width: 1px;
  width: calc(100% - 34px);
  margin-left: 4px;
  padding: 8px 6px;
  vertical-align: middle;
  font-size: 14px;
  overflow: visible;
  &:active,
  &:focus {
    border-color: transparent;
  }
}

.task__tags {
  position: absolute;
  right: 0;
  top: 8px;
}

.task__tag {
}
