@import '../../styles/variables';
@import '../../styles/mixins';

.login {
  width: 100%;
  min-height: 100%;
  margin-top: 0;
  left: 0;
  top: 0;
  @include gradient--high-flight;
  padding: 16px;
}

.login__content {
  width: 100%;
  max-width: 368px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 88px;
  padding: 24px;
  border-radius: 4px;
  background-color: $white;
  @include md {
    padding: 32px;
  }
  @include lg {
    max-width: 380px;
  }
  @include xl {
    max-width: 400px;
  }
}

.login__heading {
  text-align: center;
  font-size: 1.65rem;
  margin: 1rem 0 1.5rem;
  color: $grey-900;
  font-weight: 500;
  @include md {
    font-size: 1.8rem;
  }
  @include lg {
    font-size: 2rem;
  }
  @include xl {
    font-size: 2.2rem;
  }
}

.login__footer {
  margin-top: 24px;
  text-align: center;
  color: $white;
  font-size: 14px;
}

.user-form__input {
  margin-bottom: 24px;
  height: 42px;
  border: 1px solid $grey-500;
}

.user-form__label {
  font-size: 12px;
  color: $grey-700;
  font-weight: 600;
}

.login__btn {
  margin: 40px auto 16px;
  min-width: 160px;
  display: block;
  background-color: $secondary;
  &:disabled {
    background-color: $grey-200;
    color: $grey-500;
    border: 1px solid $grey-300;
  }
}

.login__btn--alt {
  margin: 16px auto;
  min-width: 180px;
  display: block;
  border: 1px solid $grey-500;
  color: $grey-600;
  &:disabled {
    background-color: $grey-200;
    color: $grey-500;
    border: 1px solid $grey-300;
  }
  &:first-child {
    margin-top: 40px;
  }
  &:nth-of-type(2) {
    margin-bottom: 32px;
  }
}
