@import '../../styles/variables';
@import '../../styles/mixins';

.radio-group__radio {
  display: none;
  &:checked + .radio-group__label {
    color: $primary;
    &:hover {
      color: $white;
    }
  }
}

.radio-group__label {
  position: relative;
  display: inline-block;
  padding: 6px 8px 6px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  &:hover {
    cursor: pointer;
    background-color: $primary;
    color: $white;
    .feather {
      color: $white;
    }
  }
  .feather {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    color: $primary;
  }
}
