@import '../../styles/variables';
@import '../../styles/mixins';

.header + main.landing {
  @include xx {
    left: 0;
    width: 100%;
  }
}

.landing {
  margin-top: 44px;
  width: 100%;
  min-height: 100%;
  overflow: visible;
  @include md {
    margin-top: 46px;
  }
}

.landing__section {
  padding: 24px 16px;
  @include lg {
    padding: 32px 16px;
  }
}

.landing__feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 840px;
  margin: 0 auto;
  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
  @include md {
    justify-content: space-between;
    padding: 24px 0;
  }
}

.landing__title {
  font-size: 1.8rem;
  margin: 0 0 24px 0;
  color: $grey-900;
  width: 100%;
  padding: 0 4px;
  text-align: center;
  font-weight: 500;
  @include md {
    padding: 0 8px;
    font-size: 2rem;
  }
  @include xx {
    font-size: 2.2rem;
  }
}

.landing__hero {
  padding: 44px 16px;
  background-color: $white;
  @include md {
    padding: 46px 16px;
  }
}

.landing__section-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.landing__intro {
  text-align: center;
  max-width: 600px;
  line-height: 1.4;
  margin: 0 auto;
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.landing__link {
  text-decoration: none;
  color: $primary;
}

.landing__link--get-started {
  display: inline-block;
  text-decoration: none;
  background-color: $primary;
  color: $white;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  margin-top: 16px;
}

.landing__features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 272px;
  list-style: none;
  padding: 0;
  @include sm {
    max-width: 480px;
  }
  @include md {
    max-width: 800px;
  }
}

.landing__feature-about {
  padding: 16px;
  max-width: 320px;
  @include md {
    width: 50%;
    padding: 24px;
  }
}

.landing__img-wrapper {
  padding: 16px;
  text-align: center;
  width: 100%;
  .undraw {
    max-width: 256px;
  }
  @include md {
    width: 50%;
    padding: 24px;
    .undraw {
      max-width: 288px;
    }
  }
  @include lg {
    .undraw {
      max-width: 320px;
    }
  }
}

.landing__feature-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 8px 0 12px;
  @include md {
  font-size: 1.4rem;
  }
}

.landing__feature-desc {
  line-height: 1.46;
  font-size: 14px;
  @include md {
    font-size: 1rem;
  }
}