@import '../../styles/variables';
@import '../../styles/mixins';

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.project--board {
  min-width: 100%;
  margin-top: 78px;
  @include md {
    margin-top: 86px;
  }
  @include xl {
    margin-top: 92px;
  }
  .project__lists {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .project__toolbar {
    width: 100%;
    left: 0;
    top: 82px;
    position: fixed;
    padding: 0 8px 8px 14px;
    background-color: $cloud;
    @include md {
      top: 90px;
    }
    @include xl {
      top: 96px;
    }
    @include xx {
      left: 48px;
      max-width: calc(100% - 48px);
    }
  }
}

.project--list {
  margin-top: 42px;
  max-width: 960px;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  @include md {
    margin-top: 50px;
  }
  @include xl {
    margin-top: 56px;
  }
  .project__header {
    width: 100%;
    flex: none;
  }
  .project__toolbar {
    position: fixed;
    padding: 8px;
    z-index: 5;
    width: calc(100% - 16px);
    max-width: 960px;
    background-color: $white;
    box-shadow: inset 0px -3px 1px -2px $grey-300;
  }
  .project__lists {
    margin-top: 44px;
    -webkit-overflow-scrolling: touch;
    display: inline-flex;
    flex-direction: column;
    max-height: calc(100vh - 134px);
    overflow-y: auto;
    @include md {
      max-height: calc(100vh - 142px);
    }
    @include xl {
      max-height: calc(100vh - 148px);
    }
  }
}

.header.expand-nav + .project-container {
  @include md {
    left: 200px;
    .project__header {
      left: 200px;
      width: calc(100% - 200px);
    }
  }
  &--board {
    @include md {
      .project__toolbar {
        left: 200px;
        max-width: calc(100% - 200px);
      }
    }
  }
  &--list {
    &.show-task-editor {
      @include md {
        .project__toolbar {
          width: calc(100% - 492px);
        }
      }
      @include lg {
        .project__toolbar {
          width: calc(100% - 632px);
        }
      }
    }
    @include md {
      .project__toolbar {
        width: calc(100% - 216px);
      }
    }
  }
}

.project__header {
  flex: none;
  background-color: $cloud;
  left: 0;
  width: 100%;
  position: fixed;
  top: 40px;
  z-index: 6;
  padding: 0 4px;
  height: 42px;
  @include md {
    height: 50px;
  }
  @include xl {
    height: 56px;
  }
  @include xx {
    width: calc(100% - 48px);
    left: 48px;
  }
}

.project__header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.project__wrapper {
  display: flex;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  width: 100%;
  position: relative;
  overflow: visible;
  margin-top: 40px;
  &--board {
    overflow-y: hidden;
    min-width: 100%;
  }
  &--list {
    .project__header-content {
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }
    &.show-task-editor {
      @include md {
        .project__toolbar {
          width: calc(100% - 392px);
        }
        .project {
          margin-right: 16px;
        }
        .project__input--name {
          width: 100%;
        }
      }
      @include lg {
        .project__toolbar {
          width: calc(100% - 432px);
        }
      }
    }
  }
}

.project__input--name {
  background-color: transparent;
  width: 100%;
  height: auto;
  z-index: 4;
  position: relative;
  max-width: calc(100% - 18px);
  &:focus {
    padding-left: 8px;
    text-align: left;
    background-color: $white;
    border-color: $grey-600;
    box-shadow: inset 0 1px $grey-300;
    @include xl {
      padding-left: 10px;
    }
  }
}

.project__input--name,
.project__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  margin: 4px 0;
  line-height: 1.2;
  color: $grey-900;
  padding: 4px 8px 4px 26px;
  border: 1px solid transparent;
  font-weight: 600;
  text-align: center;
  @include xs {
    max-width: 360px;
  }
  @include md {
    margin: 8px 0;
  }
  @include xl {
    font-size: 1.4rem;
    padding: 6px 10px 6px 28px;
  }
}

.project__name-wrapper {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  font-size: 0;
  max-width: calc(100% - 18px);
  span {
    pointer-events: none;
  }
}

.project__name {
  width: auto;
  display: inline-block;
  visibility: hidden;
}

.project__icon {
  position: absolute;
  top: calc(50% - 6px);
  left: 8px;
}

.project__btn {
  padding: 6px;
}

.project__toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  z-index: 5;
}

.project__settings-wrapper {
  display: inline-block;
  z-index: 4;
}

.project__settings {
  background-color: $white;
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 200px;
  line-height: 1.15;
  @include box-shadow(2);
}

.project__settings-btn {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 8px;
  .feather {
    vertical-align: middle;
  }
  &.is-active {
    color: $primary;
  }
}

.project__link {
  margin-left: 8px;
  color: $grey-700;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 0;
  .feather {
    width: 18px;
    height: 18px;
  }
}

.project__btn--add-list {
  margin-right: auto;
}
