@import '../../styles/variables';
@import '../../styles/mixins';

.project-composer {
  padding: 24px;

  @include md {
    padding: 24px 8px;
  }
}

.project-composer__btn--add {
  margin-top: 8px;
}

.project-composer__heading {
  max-width: 340px;
  width: 100%;
  margin: 0 auto 24px;
  font-weight: 600;
  @include md {
    max-width: 85%;
  }
}

.project-composer__subheading {
  font-size: 12px;
  font-weight: 500;
  margin: 16px 0 8px;
}

.project-composer__settings {
}

.project-composer__control-group {
  width: 100%;
  &--color {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 16px;
    .project-composer__subheading {
      margin: 0;
    }
  }
}

.project-composer__label {
  font-weight: 500;
}

.project-composer__form {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  @include md {
    max-width: 85%;
  }
}

.project-composer__input--name {
  height: 42px;
  padding: 8px;
  line-height: 1;
  max-width: 320px;
}

.project-composer__btn--add {
  margin-top: 16px;
  font-size: 14px;
}

.project-composer__radio {
  display: none;
  &:checked + .project-composer__radio-label:before {
    border: 5px solid $primary;
  }
}

.project-composer__radio-label {
  display: inline-block;
  position: relative;
  padding: 4px 24px 4px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  vertical-align: middle;
  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $grey-500;
    left: 0;
    top: calc(50% - 7px);
    vertical-align: middle;
  }
  .feather {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-right: 4px;
  }
}

.project-composer__btn--toggle-color-picker {
  width: 64px;
  padding: 4px 8px;
  min-height: 0;
  span,
  .feather {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-left: 4px;
    pointer-events: none;
  }
  &.is-active {
    color: $primary;
  }
}

.project-composer__color-swatch {
  width: 18px;
  height: 18px;
}

.project-composer__color-picker {
  top: 100%;
  z-index: 3;
  @include box-shadow(2);
  &::before,
  &::after {
    display: none;
  }
  .color-picker__radio:checked + label.bg--default::after {
    border-color: white;
  }
  .color-picker__swatch {
    &.bg--default {
      background-color: $grey-700;
      color: $white;
      border: none;
    }
  }
}