@import '../../styles/variables';
@import '../../styles/mixins';

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  min-width: 64px;
  &:active,
  &:focus {
    outline: none;
  }
  &:disabled {
    background-color: $grey-200;
    color: $grey-500;
    border: 1px solid $grey-400;
  }
  .feather {
    pointer-events: none;
    vertical-align: middle;
  }
  span {
    pointer-events: none;
  }
}

// Colors + Variants

// Contained
.contained--primary {
  background-color: $primary;
  color: $white;
  &:not(:disabled):hover {
    background-color: rgba($primary, 0.8);
    @include box-shadow(1);
  }
}

.contained--secondary {
  background-color: $secondary;
  color: $white;
}

.contained--neutral {
  background-color: $grey-700;
  color: $white;
}
.contained--success {
  background-image: linear-gradient(-20deg, $success-dk 0%, 20%, $success 100%);
  color: $white;
  font-weight: 600;
}

// Outlined
.outlined--primary {
  border: 1px solid $primary;
  color: $primary;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.outlined--secondary {
  border: 1px solid $secondary;
  color: $secondary;
  &:hover {
    background-color: $secondary;
    color: $white;
  }
}

.outlined--neutral {
  border: 1px solid $grey-700;
  color: $grey-700;
  &:hover {
    background-color: $grey-700;
    color: $white;
  }
}
.outlined--success {
  border: 1px solid $success-dk;
  color: $success-dk;
  &:hover {
    background-color: $success;
    border-color: $success;
    color: $white;
  }
}

// Text

.text--primary {
  color: $primary;
}

.text--secondary {
  color: $secondary;
}

.text--neutral {
  color: $grey-700;
}

.text--success {
  color: $success-dk;
}

// Sizes
.sm {
  padding: 4px 8px;
  font-size: 0.8125rem;
  .feather {
    font-size: 18px;
  }
}

.md {
  padding: 10px 12px;
  font-size: 1rem;
  min-height: 36px;
  .feather {
    font-size: 20px;
  }
}

.lg {
  padding: 10px 24px;
  font-size: 1.1rem;
  .feather {
    font-size: 32px;
  }
}

.icon-only {
  padding: 0;
  margin: 0;
  min-width: 0;
  line-height: 0;
  .feather {
    vertical-align: middle;
  }
  &--sm {
    font-size: 18px;
    height: 36px;
    width: 36px;
    .feather {
      width: 18px;
      height: 18px;
    }
  }
  &--md {
    font-size: 22px;
    height: 40px;
    width: 40px;
    .feather {
      width: 22px;
      height: 22px;
    }
  }
  &--lg {
    font-size: 32px;
    height: 50px;
    width: 50px;
    .feather {
      width: 32px;
      height: 32px;
    }
  }
}
