@import '../../styles/variables';
@import '../../styles/mixins';

.btn {
  cursor: pointer;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  &:focus {
    outline: none;
  }
  &:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
  }
  &:focus-visible {
    box-shadow: 0 0 0 3px $primary-lt;
    outline: none;
  }
  &:active {
    box-shadow: none;
  }
  .feather {
    pointer-events: none;
    vertical-align: middle;
  }
  span {
    pointer-events: none;
  }
}

// Colors + Variants

// Contained
.contained {
  &:disabled {
    background-color: $grey-200;
    color: $grey-500;
    border: 1px solid $grey-400;
  }
}

.contained--primary {
  background-color: $primary;
  color: $white;
  &:not(:disabled):hover {
    background-color: rgba($primary, 0.8);
    @include box-shadow(1);
  }
}

.contained--secondary {
  background-color: $secondary;
  color: $white;
  &:not(:disabled):hover {
    background-color: rgba($secondary, 0.8);
    @include box-shadow(1);
  }
}

.contained--neutral {
  background-color: $grey-700;
  color: $white;
  &:not(:disabled):hover {
    background-color: rgba($grey-700, 0.8);
    @include box-shadow(1);
  }
}

.contained--success {
  background-image: linear-gradient(-20deg, $success-dk 0%, 20%, $success 100%);
  color: $white;
  font-weight: 600;
  &:not(:disabled):hover {
    background-color: rgba($success, 0.8);
    @include box-shadow(1);
  }
}

.contained--danger {
  background-color: $red;
  color: $white;
  font-weight: 600;
  &:not(:disabled):hover {
    background-color: rgba($red, 0.8);
    @include box-shadow(1);
  }
}

// Outlined
.outlined {
  &:disabled {
    color: $grey-300;
    border: 1px solid $grey-400;
  }
}

.outlined--primary {
  border: 1px solid $primary;
  color: $primary;
  &:hover:not(:disabled) {
    background-color: $primary;
    color: $white;
  }
}

.outlined--secondary {
  border: 1px solid $secondary;
  color: $secondary;
  &:hover:not(:disabled) {
    background-color: $secondary;
    color: $white;
  }
}

.outlined--neutral {
  border: 1px solid $grey-700;
  color: $grey-700;
  &:hover:not(:disabled) {
    background-color: $grey-700;
    color: $white;
  }
}

.outlined--success {
  border: 1px solid $success-dk;
  color: $success-dk;
  &:hover:not(:disabled) {
    background-color: $success;
    border-color: $success;
    color: $white;
  }
}

.outlined--danger {
  border: 1px solid $red;
  color: $red;
  &:hover:not(:disabled) {
    background-color: $red;
    color: $white;
  }
}

// Text
.text {
  &:disabled {
    color: $grey-300;
    background-color: transparent;
  }
}

.text--primary {
  color: $primary;
}

.text--secondary {
  color: $secondary;
}

.text--neutral {
  color: $grey-700;
  &:hover,
  &:focus {
    color: $primary;
  }
}

.text--success {
  color: $success-dk;
}

.text--danger {
  color: $red;
}

// Sizes
.btn--sm {
  padding: 4px 8px;
  font-size: 0.8125rem;
  .feather {
    font-size: 18px;
  }
}

.btn--md {
  padding: 10px 12px;
  font-size: 1rem;
  min-height: 36px;
  .feather {
    font-size: 20px;
  }
}

.btn--lg {
  padding: 10px 24px;
  font-size: 1.1rem;
  .feather {
    font-size: 32px;
  }
}

.icon-only {
  padding: 0;
  margin: 0;
  min-width: 0;
  line-height: 0;
  .feather {
    vertical-align: middle;
  }
  &--sm {
    font-size: 18px;
    height: 36px;
    width: 36px;
    .feather {
      width: 18px;
      height: 18px;
    }
  }
  &--md {
    font-size: 22px;
    height: 40px;
    width: 40px;
    .feather {
      width: 22px;
      height: 22px;
    }
  }
  &--lg {
    font-size: 32px;
    height: 50px;
    width: 50px;
    .feather {
      width: 32px;
      height: 32px;
    }
  }
}
