@import '../../styles/_variables';

.textarea {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 12px;
  font-family: $body-font;
  &:focus {
    border-color: $primary;
    outline: none;
  }
}
