@import '../../styles/variables';

.textarea {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 12px;
  font-family: $body-font;
  resize: none;
  -webkit-appearance: none;
  &:focus {
    border-color: $primary;
    outline: none;
  }
  &::placeholder {
    color: $grey-600;
  }
}
