@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  position: relative;
  background-color: $haze;
  .list__popover-wrapper {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 4;
  }
  &.is-list-view {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 16px;
    .list__input--title {
      font-size: 18px;
    }
  }
  &.is-board-view {
    min-width: 272px;
    width: 272px;
    margin: 0 6px;
  }
}

.list__header {
  padding: 8px;
  position: relative;
}

.list__popover {
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #fff;
  min-width: 200px;
  line-height: 1.15;
  @include box-shadow(2);
  a {
    color: $grey-900;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}

.list__btn--more-actions {
  vertical-align: middle;
  .feather {
    width: 18px;
    height: 18px;
  }
  &:hover,
  &.is-active {
    color: $primary;
  }
}

.list__input--title {
  border: 2px solid transparent;
  font-weight: 700;
  padding: 8px;
  background-color: transparent;
  width: calc(100% - 32px);
  font-size: 16px;
  height: 38px;
  &:focus:not(:read-only) {
    border-color: $primary;
    background-color: rgba($white, 0.6);
  }
}

.list__content {
  position: relative;
}

.list__cards {
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    background-color: transparent;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: visible;
  overflow-y: auto;
  min-height: 16px;
  max-height: calc(100vh - 274px);
  @include md {
    max-height: calc(100vh - 290px);
  }
  @include xl {
    max-height: calc(100vh - 300px);
  }
}

.list__tasks {
  padding: 0 8px;
  margin: 0;
  list-style-type: none;
  @include md {
    padding: 0 16px;
  }
}
