@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.list,
.list-composer {
  width: 272px;
  margin: 0 4px;
  box-sizing: border-box;
  height: 100%;
}

.list {
  background-color: $grey-300;
  border-radius: 4px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.list__header {
  padding: 0 8px;
  height: 50px;
}

.list__title {
  font-size: 18px;
  margin: 0;
  padding: 16px 8px;
}

.list-composer {
}
