@import '../../styles/_variables';
@import '../../styles/_mixins';

.card-editor__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  padding: 0;
  min-height: min-content;
  overflow: visible;
  &.is-focused {
    .card-editor__section-icon > .feather {
      color: $primary;
    }
  }
}

.card-editor__textarea--title {
  width: calc(100% + 12px);
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 1.2rem;
  height: 46px;
  color: $grey-900;
  padding: 8px 6px;
  position: relative;
  left: -6px;
  &:focus {
    border-color: $primary;
  }
}

.card-editor__textarea {
  line-height: 1.4;
  min-height: 40px;
  overflow: hidden;
  margin-top: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: top;
  font-size: 14px;
}

.card-editor__textarea--description {
  padding: 8px;
  width: calc(100% - 26px);
}

.card-editor__textarea--comment,
.card-editor__textarea--new-subtask {
  width: 100%;
  padding: 0;
  &:focus {
    border-color: transparent;
  }
}

.is-focused > .card-editor__textarea--comment {
  min-height: 30px;
}

.card-editor__textarea--comment {
  min-height: 0;
}

.card-editor__section-icon {
  height: 40px;
  line-height: 38px;
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: $grey-700;
  .feather {
    width: 18px;
    height: 18px;
  }
}

.card-editor__due-date-icon {
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: $grey-700;
  .feather {
    width: 18px;
    height: 18px;
  }
}

.card-editor__btn--add-member {
  min-width: 0;
  min-height: 0;
  margin: 5px 0 5px 8px;
  width: 30px;
  height: 30px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  border: 1px dashed $grey-400;
  border-radius: 50%;
  padding: 0;
  .feather {
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle;
    color: $grey-400;
  }
  &:hover,
  &:active {
    border-color: $primary;
    .feather,
    span {
      color: $primary;
    }
  }
}

.card-editor__edit-card-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 46px;
  min-height: min-content;
}

.card-editor__comment-form,
.card-editor__new-subtask-form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 26px);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  margin-left: auto;
  &:focus,
  &.is-focused {
    border-color: $primary;
  }
}

.card-editor__comment-form {
  width: calc(100% - 38px);
  border: 1px solid $grey-300;
}

.card-editor__btn--submit-comment,
.card-editor__btn--add-subtask {
  flex: none;
  min-width: 0;
  padding: 8px;
  align-self: flex-start;
  z-index: 3;
  margin-top: 8px;
  font-size: 14px;
}

.card-editor__hr {
  border-top: 1px solid $grey-300;
  border-bottom: none;
  width: 100%;
  flex: 1 1 auto;
}

.card-editor__section-title {
  flex: 0;
  padding: 8px;
  margin: 2px 10px 0 0;
  font-weight: 700;
}

.card-editor__toolbar {
  position: absolute;
  left: 0;
  top: 4px;
  width: calc(100% - 44px);
  justify-content: space-between;
  padding: 0 0 0 8px;
  border-bottom: 1px solid $grey-300;
  z-index: 99;
  height: 44px;
  &:after {
    content: '';
    position: absolute;
    width: 44px;
    border-bottom: 1px solid $grey-300;
    left: 100%;
    top: 100%;
  }
}

.card-editor__popover-wrapper {
  &.is-active {
    .feather {
      color: $primary;
    }
  }
  &.card-editor__member-search-popover-wrapper {
    position: static;
    &.is-active {
      z-index: 4;
    }
  }
}

.card-editor__popover {
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #fff;
  min-width: 160px;
  @include box-shadow(2);
  a {
    color: $grey-800;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
  &.card-editor__member-search-popover {
    top: 0;
    left: 44px;
    width: calc(100% - 8px);
    z-index: 99;
    padding: 0;
    box-shadow: none;
    border-color: transparent;
    max-width: 400px;
  }
}

.card-editor__toolbar-btn {
  .feather {
    color: $grey-500;
  }
  &:hover {
    .feather {
      color: $grey-800;
    }
  }
}

// Subtasks

.card-editor__subtasks {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.card-editor__subtask {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-left: auto;
  overflow: visible;
}

.card-editor__checkbox {
  width: 18px;
  height: 18px;
  top: 8px;
  left: 4px;
  border: 1px solid $primary;
  border-radius: 4px;
  display: inline-block;
}

.card-editor__checkbox-label {
  vertical-align: top;
  padding: 8px 4px;
  width: 26px;
  height: 34px;
  .feather {
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
  }
}

.card-editor__textarea--subtask {
  border-width: 1px;
  width: calc(100% - 30px);
  margin-left: 4px;
  padding: 8px 6px;
  vertical-align: middle;
  font-size: 14px;
  overflow: visible;
}

.card-editor__comments {
  width: 100%;
}

.card-editor__members {
  display: flex;
  max-width: calc(100% - 34px);
  margin-top: 5px;
  margin-left: 8px;
}

.card-editor__section-header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 100%;
}

.card-editor__section-title {
  padding: 11px 0;
  font-size: 16px;
  margin: 0 16px 0 12px;
  font-weight: 500;
  color: $grey-700;
  &--sm {
    font-size: 11px;
    font-weight: 600;
    color: $grey-700;
    line-height: 1;
    padding: 0;
    width: 100%;
    margin: 0 0 3px 0;
  }
}

.card-editor__btn--due-date {
  min-height: 0;
  padding: 4px 0;
  display: flex;
  border: none;
  &:hover {
    .card-editor__section-title--sm,
    .card-editor__due-date,
    .feather {
      color: $primary;
    }
  }
}

.card-editor__btn--due-date-text {
  margin-left: 8px;
}

.card-editor__due-date {
  font-size: 14px;
  text-align: left;
  color: $grey-900;
  font-weight: 600;
  line-height: 12px;
}

.card-editor__placeholder--unassigned {
  font-size: 14px;
  color: $grey-600;
  padding: 11px 0;
  margin-left: 4px;
}

.card-editor__avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.card-editor__avatar-placeholder {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 12px;
}
