@import '../../styles/variables';
@import '../../styles/mixins';

.member-assigner {
  display: flex;
  position: relative;
  align-items: center;
}

.member-assigner__input {
  padding: 0 8px;
}

.member-assigner__search-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid $primary;
  border-radius: 4px;
}

.member-assigner__search-wrapper {
  width: 100%;
  position: static;
}

.member-assigner__popover {
  min-width: 260px;
  background-color: $white;
  border: 1px solid $grey-300;
  border-radius: 4px;
  @include box-shadow(2);
  padding: 8px;
  min-height: 160px;
  top: calc(100% + 8px);
  @include xs {
    min-width: 300px;
  }
}

.member-assigner__popover-wrapper {
  display: inline-block;
  position: static;
}

.member-assigner__icon-wrapper {
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  .feather {
    color: $primary;
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
    vertical-align: middle;
  }
}

.member-assigner__avatar {
  width: 30px;
  height: 30px;
  line-height: 28px;
  margin-right: 4px;
  position: relative;
  font-size: 12px;
  flex: none;
}

.member-assigner__avatar-placeholder {
  font-weight: 700;
  letter-spacing: 0.03em;
}

.member-assigner__btn--toggle-member-search {
  min-width: 0;
  min-height: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  border: 1px dashed $grey-400;
  border-radius: 50%;
  padding: 0;
  color: $grey-400;
  .feather {
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle;
  }
  &.is-active,
  &:focus,
  &:hover,
  &:active {
    border-color: $primary;
    color: $primary;
  }
}

.member-assigner__list {
  width: 100%;
  top: 48px;
  left: 0;
  box-shadow: none;
  border: none;
}

.member-assigner__input {
  &:focus {
    border-color: transparent;
  }
}

.member-assigner__members {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
