@import '../../styles/_variables';
@import '../../styles/_mixins';

.board {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

.board-container {
  padding: 4px 8px;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
  margin-top: 40px;
  @include md {
    padding: 8px;
    margin-top: 40px;
  }
  @include xl {
    margin-top: 40px;
  }
}

.board__input--title {
  background-color: transparent;
  border-color: transparent;
  width: auto;
  margin: 0 6px;
  font-size: 1.1rem;
  font-family: $heading-font;
  font-weight: 600;
  padding: 8px 10px;
  margin-bottom: 4px;
  height: auto;
  color: $grey-900;
  &:focus {
    background-color: rgba(#fff, 0.6);
  }
  @include md {
    font-size: 1.35rem;
    padding: 10px 12px;
    margin-bottom: 8px;
  }
  @include xl {
    font-size: 1.45rem;
    padding: 14px;
  }
}
