@import '../../styles/variables';
@import '../../styles/mixins';

.workspace-settings {
  padding: 24px;
  @include md {
    padding: 24px 8px 40px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  @include lg {
    max-width: 600px;
  }
}

.workspace-settings__input {
  margin-bottom: 24px;
  height: 42px;
  width: 100%;
  border: 1px solid $grey-600;
  &::placeholder {
    font-size: 14px;
  }
  &--teammate-email:not(:last-child) {
    margin-bottom: 16px;
  }
  &:read-only {
    border: 1px solid $grey-600;
  }
}

.workspace-settings__tablist,
.workspace-settings__panel {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  @include sm {
    max-width: 500px;
  }
  @include md {
    max-width: 500px;
  }
}

.workspace-settings__heading {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 18px;
  font-weight: 600;
  @include sm {
    max-width: 500px;
  }
  @include md {
    max-width: 500px;
  }
}

.workspace-settings__label {
  margin-bottom: 8px;
  font-weight: 600;
  color: $grey-700;
  font-size: 12px;
}

.workspace-settings__sub-subheading {
  font-weight: 600;
  font-size: 11px;
  color: $grey-700;
  padding-top: 24px;
  border-top: 2px solid $grey-200;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 24px 0 16px;
}

.workspace-settings__btn {
  min-width: 80px;
  padding: 10px 12px;
  &:disabled {
    background-color: $grey-200;
    color: $grey-500;
    border: 1px solid $grey-300;
  }
}

.workspace-settings__member {
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include md {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.workspace-settings__member-detail {
  font-size: 12px;
  width: calc(100% - 52px);
  margin-left: 52px;
  line-height: 1.2;
  &--name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  @include sm {
    width: auto;
    margin-left: 16px;
    margin-bottom: 0;
  }
  &:last-child {
    margin-top: 2px;
    @include md {
      margin-top: 0;
    }
  }
}

.workspace-settings__avatar {
  width: 40px;
  height: 40px;
  font-size: 16px;
  line-height: 38px;
  position: absolute;
  @include sm {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 12px;
    position: relative;
  }
}

.workspace-settings__avatar-placeholder {
  font-weight: 600;
  letter-spacing: 0.03em;
}

.workspace-settings__pending-invites {
  list-style: none;
  padding: 0;
}

.workspace-settings__pending-invite {
  font-size: 14px;
  color: $grey-600;
  font-style: italic;
  margin-bottom: 8px;
}
