@import '../../styles/variables';
@import '../../styles/mixins';

.verification-required__paragraph {
  line-height: 1.4;
  margin-bottom: 24px;
}

.verification-required {
  width: 100%;
  max-width: 368px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 88px;
  border-radius: 4px;
  padding: 16px;
  @include md {
    max-width: 400px;
  }
}

.verification-required__heading {
  padding: 0;
  font-weight: 500;
}

.verification-required__btn {
  padding: 12px;
  &:hover,
  &:active {
    background-color: $primary-dk;
  }
}
