@import '../../styles/variables';
@import '../../styles/mixins';

.verification-required__paragraph {
  line-height: 1.4;
  margin-bottom: 24px;
}

.verification-required {
  padding: 16px;
}

.verification-required__btn {
  &:hover,
  &:active {
    background-color: $primary-dk;
  }
}
