@import '../../styles/variables';
@import '../../styles/mixins';

.task-editor__subtasks {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.subtask {
  position: relative;
  width: 100%;
  padding: 0 8px;
  list-style: none;
  margin-left: auto;
  overflow: visible;
  display: flex;
  vertical-align: middle;
  align-items: center;
  &:focus {
    outline: none;
  }
  &.is-dragging {
    @include box-shadow(1);
    background-color: $grey-100;
  }
  &.is-focused {
    background-color: rgba($grey-300, .5);
  }
}

.subtask__checkbox {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border: 2px solid $grey-500;
  border-radius: 4px;
  display: inline-block;
}

.subtask__checkbox-label {
  position: relative;
  vertical-align: top;
  padding: 0;
  width: 30px;
  height: 32px;
  flex: none;
  .feather {
    width: 10px;
    height: 10px;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    stroke-width: 4px;
  }
}

.subtask__textarea {
  border-width: 1px;
  width: calc(100% - 34px);
  margin-left: 4px;
  padding: 8px 6px;
  vertical-align: middle;
  font-size: 14px;
  overflow: visible;
  background-color: transparent;
  &:focus {
    border-color: transparent;
  }
}

.subtask__drag-handle {
  left: 6px;
  position: static;
  .drag-handle__icon {
    fill: $grey-400;
  }
}