@import './_variables.scss';

// Media queries
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
} // 425px Tiny devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
} // 576px Small devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
} // 768px Medium devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
} // 992px Large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
} // 1200px Extra large devices
@mixin xx {
  @media (min-width: #{$screen-xx-min}) {
    @content;
  }
} // 1440px Extra large devices

@mixin min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Box shadows

@mixin box-shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin bootstrap-box-shadow($level) {
  @if $level == 1 {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  } @else if $level == 2 {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  } @else {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  }
}

@mixin gradient--sharp-blues {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

@mixin gradient--primary {
  background-image: linear-gradient(to top right, #004aef 30%, #0bd1ff 100%);
}

@mixin gradient--high-flight {
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

@mixin gradient--vicious-stance {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

@mixin gradient--success {
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  transition: 0.5s ease-in-out;
  &:hover {
    background-position: right center;
  }
}
