@import url('https://rsms.me/inter/inter.css');

// Viewport sizes

$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
$screen-xx-min: 1440px;

// Colors
$grey-000: #f8f9fa;
$grey-100: #f1f3f5;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #868e96;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;

$white: #fff;
$cloud: #f9fafb;
$haze: #e1e7f3;
$haze-md: #a8b1c5;
$black: #000;

$primary: #3e7aff;
$primary-md: #0451ff;
$primary-lt: #b5ccff;
$primary-dk: #003ec6;

$secondary: #fb5072;
$secondary-md: #fa2a53;
$secondary-lt: #fec4d0;
$secondary-dk: #cf052d;

$tertiary: #feaf3c;
$tertiary-lt: #ffe0b2;
$tertiary-dk: #c27301;

$purple: #633eff;
$dk-purple: #2600c6;
$lt-purple: #c3b5ff;

$success: #4de8b8;
$success-lt: #b6f6e2;
$success-dk: #18b786;

$bl-orange: #ff633e;
$lt-bl-orange: #ffc3b5;
$dk-bl-orange: #c62600;

$red: #f71010;
$pink: #fe3179;
$grape: #c106ee;
$violet: #6838f8;
$indigo: #3259fb;
$blue: #0080f2;
$cyan: #01a3bc;
$teal: #05ad7b;
$green: #17ab33;
$yellow: #f59f00;
$orange: #f76707;

// Fonts
$heading-font: 'Inter', Helvetica, Arial, sans-serif;
$body-font: 'Inter', Arial, sans-serif;
