@import '../../styles/variables';
@import '../../styles/mixins';

.expansion-panel__header {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &.is-expanded {
    .feather-chevron-right {
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }
  }
}
