@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  width: 100%;
  min-height: 100%;
  padding: 8px;
  overflow: visible;
  margin-top: 36px;
  position: relative;
  @include md {
    margin-top: 40px;
  }
  @include lg {
    padding: 8px 16px;
  }
}

.main__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 16px 0 24px 0;
  color: $grey-900;
  width: 100%;
  padding: 0 4px;
  @include md {
    padding: 0 8px;
  }
}
