@import '../../styles/variables';
@import '../../styles/mixins';

.logo {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  color: $primary;
  .feather {
    position: relative;
    vertical-align: middle;
  }
  .logo__text {
    color: inherit;
    font-family: $heading-font;
    font-weight: 500;
  }
  &--md {
    font-size: 22px;
    .logo__link {
      line-height: 1;
      color: inherit;
    }
  }
  &--sm {
    font-size: 1.2rem;
    .feather {
      height: 1.2rem;
      width: 1.2rem;
      @include lg {
        height: 1.4rem;
        width: 1.4rem;
      }
    }
    .logo__text {
      display: none;
    }
    .feather {
      top: -3px;
    }
  }
  &.is-hidden {
    display: none;
  }
}

.logo__text {
  color: $grey-900;
}

.logo__link {
  text-decoration: none;
  color: inherit;
}
