@import '../../styles/variables';
@import '../../styles/mixins';

.comment__wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.comment {
  width: 100%;
}

.comment__details {
  display: inline-flex;
  align-items: baseline;
  flex: auto;
}

.comment__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 4px;
  @include sm {
    margin-bottom: 6px;
  }
}

.comment__timestamp {
  font-size: 9px;
  color: $grey-600;
  @include sm {
    font-size: 11px;
  }
}

.comment__name {
  font-size: 13px;
  font-weight: 600;
  margin-right: 8px;
  color: $grey-900;
  @include sm {
    font-size: 14px;
  }
}

.comment__content {
  font-size: 14px;
  color: $grey-800;
}

.comment__likes {
  min-width: 0;
  padding: 0 14px 0 0;
  position: relative;
  color: $grey-700;
  .feather {
    width: 12px;
    height: 12px;
    color: $grey-700;
    vertical-align: top;
  }
  @include sm {
    padding-right: 16px;
    .feather {
      width: 13px;
      height: 13px;
    }
  }
}

.comment__likes-counter {
  font-size: 9px;
  position: absolute;
  top: 0;
  left: 14px;
  font-weight: 600;
  @include sm {
    left: 15px;
  }
}

.comment__avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 11px;
}

.comment__avatar-placeholder {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 12px;
}
