@import '../../styles/variables';

.project-badge {
  border-radius: 4px;
  display: inline-block;
  color: $grey-600;
  text-decoration: none;
  vertical-align: middle;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 0;
  border: 1px solid transparent;
  font-style: italic;
  .project-badge__icon {
    margin-right: 4px;
    width: 9px;
    height: 9px;
    border-radius: 2px;
    vertical-align: bottom;
  }
}
