@import '../../styles/variables';

.project-badge {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: $grey-600;
  text-decoration: none;
  vertical-align: middle;
  padding: 2px 0;
  border: 1px solid transparent;
  &--default {
    background-color: $grey-700;
    color: $white;
  }
  &--blue {
    background-color: $blue;
    color: $white;
  }
  &--green {
    background-color: $green;
    color: $white;
  }
  &--pink {
    background-color: $pink;
    color: $white;
  }
  &--orange {
    background-color: $orange;
    color: $white;
  }
  &--purple {
    background-color: $purple;
    color: $white;
  }
  &--red {
    background-color: $red;
    color: $white;
  }
  &--teal {
    background-color: $teal;
    color: $white;
  }
  &--cyan {
    background-color: $cyan;
    color: $white;
  }
  &--grape {
    background-color: $grape;
    color: $white;
  }
  &--violet {
    background-color: $violet;
    color: $white;
  }
  &--indigo {
    background-color: $indigo;
    color: $white;
  }
  &--yellow {
    background-color: $yellow;
    color: $white;
  }
}

.project-badge--sm {
  font-size: 10px;
  line-height: 10px;
  .project-badge__icon {
    margin-right: 4px;
    width: 9px;
    height: 9px;
    border-radius: 3px;
    vertical-align: bottom;
  }
}

.project-badge--md {
  font-size: 14px;
  line-height: 1;
  .project-badge__icon {
    margin-right: 8px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    vertical-align: middle;
  }
}

.project-badge--contained {
  padding: 8px;
  border-radius: 4px;
  font-style: normal;
}
