@import '../../styles/variables';
@import '../../styles/mixins';

.features__section-title {
  font-size: 1.2rem;
  font-weight: 600;
  @include md {
    font-size: 1.3rem;
  }
}

.features__section {
  &:not(:first-child) {
    margin-top: 32px;
  }
}

.features__item {
  font-size: 15px;
  margin-top: 16px;
  line-height: 1.4;
}

.features {
  .features__intro {
    text-align: left;
  }
}
