@import '../../styles/variables';
@import '../../styles/mixins';

.features__section-title {
  font-size: 1.2rem;
  font-weight: 600;
  @include md {
    font-size: 1.3rem;
  }
}

.features__section {
  &:not(:first-child) {
    margin-top: 40px;
  }
  .guide__article-section-wrapper {
    padding: 16px 8px;
    @include md {
      padding: 16px 12px;
    }
  }
}

.features {
  .features__intro {
    text-align: left;
  }
}
