@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.card {
  box-sizing: border-box;
  height: 80px;
  border-radius: 4px;
  margin: 8px;
  padding: 0 12px;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
}

.card__title {
  font-size: 16px;
  margin: 0;
}

.card__header {
  position: relative;
  padding-top: 8px;
}

.card__btn--more-actions {
  position: absolute;
  top: 0;
  right: 0;
  .feather {
    width: 18px;
    height: 18px;
  }
}
