@import '../../styles/variables';
@import '../../styles/mixins';

.header.expand-nav + .main.user-tasks__container {
  @include md {
    left: 200px;
  }
}

.user-tasks__container {
  position: relative;
  min-height: 100vh;
  &.show-task-editor {
    .user-tasks {
      max-height: 100vh;
    }
    .task__tag {
      &:not(.tag--summary) {
        display: none;
        @include md {
          display: none;
        }
        @include xl {
          display: inline-block;
        }
      }
      &.tag--summary {
        @include md {
          display: inline-block;
        }
        @include xl {
          display: none;
        }
      }
    }
    @include md {
      .user-tasks {
        margin-right: 16px;
        max-height: 100%;
      }
    }
  }
}

.user-tasks {
  width: 100%;
  padding: 0;
  border-radius: 4px;
  @include md {
    background-color: $white;
    @include bootstrap-box-shadow(1);
  }
}

.user-tasks__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.user-tasks__title {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.user-tasks__settings-wrapper {
  display: inline-block;
  z-index: 10;
  position: absolute;
  right: 0;
  top: -56px;
  @include md {
    right: 8px;
  }
}

.user-tasks__settings {
  background-color: $white;
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 200px;
  line-height: 1.15;
  @include box-shadow(2);
}

.view__options {
  margin-top: 4px;
}

.user-tasks__settings-item {
  text-transform: capitalize;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: $grey-800;
}
