@import '../../styles/variables';
@import '../../styles/mixins';

.header.expand-nav + .main.user-tasks__container {
  @include md {
    left: 200px;
  }
}

.user-tasks__container {
  position: relative;
  min-height: 100vh;
  &.show-task-editor {
    .user-tasks {
      max-height: 100vh;
    }
    @include md {
      .user-tasks__title {
        margin-right: 0;
        margin-left: 0;
      }
      .user-tasks {
        margin-right: 16px;
        max-height: 100%;
      }
    }
  }
}

.user-tasks {
  max-width: 960px;
  width: 100%;
  padding: 0;
  @include md {
    padding: 0 8px;
  }
}

.user-tasks__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.user-tasks__title {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.user-tasks__settings-wrapper {
  display: inline-block;
  z-index: 8;
  position: absolute;
  right: 0;
  top: -56px;
  @include md {
    right: 8px;
  }
}

.user-tasks__settings {
  background-color: $white;
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 200px;
  line-height: 1.15;
  @include box-shadow(2);
}

.view__options {
  margin-top: 4px;
}

.user-tasks__settings-item {
  text-transform: capitalize;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: $grey-800;
}
