@import '../../styles/_variables';
@import '../../styles/_mixins';

.calendar {
  width: 100%;
}

.calendar__month {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar__week-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__week-day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.calendar__day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
  padding: 2px;
  .calendar__btn--day {
    color: $grey-800;
  }
  &.is-today {
    .calendar__btn--day {
      color: $primary;
      font-weight: 700;
    }
  }
  &.is-selected {
    .calendar__btn--day {
      background-color: $primary;
      color: #fff;
    }
  }
}

.calendar__day--prev-next {
  .calendar__btn--day {
    color: $grey-500;
  }
}

.calendar__btn--day {
  min-width: 0;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
  border-radius: 50%;
  &:hover {
    background-color: rgba($primary-lt, 0.7);
  }
}

.calendar__btn--month {
  &:hover,
  &:active {
    .feather {
      color: $primary;
    }
  }
}

.calendar__heading--month {
  font-size: 16px;
  font-weight: 600;
  color: $grey-900;
  margin: 0;
}

.calendar__heading--year {
  font-size: 14px;
  margin-left: 6px;
}
