@import '../../styles/_variables';
@import '../../styles/_mixins';

.calendar {
  width: 100%;
}

.calendar__month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -4px;
}

.calendar__week-days {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__week-day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.calendar__day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
  padding: 2px;
  .calendar__btn--day {
    color: $grey-800;
  }
  &.is-today {
    .calendar__btn--day {
      color: $primary;
      font-weight: 700;
    }
  }
  &.is-selected {
    .calendar__btn--day {
      background-color: $primary;
      color: #fff;
    }
  }
}

.calendar__day--prev-next {
  .calendar__btn--day {
    color: $grey-500;
  }
}

.calendar__btn--day {
  min-width: 0;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
  border-radius: 50%;
  &:hover {
    background-color: rgba($primary-lt, 0.7);
  }
}

.calendar__btn--month {
  width: 30px;
  height: 30px;
  padding: 0;
  &:focus {
    .feather {
      color: $grey-700;
    }
  }
  &:hover,
  &:active {
    .feather {
      color: $primary;
    }
  }
}

.calendar__heading--month {
  font-size: 16px;
  font-weight: 600;
  color: $grey-900;
  margin: 0;
}

.calendar__years-dropdown-wrapper,
.calendar__months-dropdown-wrapper {
  display: inline-block;
}

.calendar__years-dropdown-wrapper {
  z-index: 4;
}

.calendar__btn--years-dropdown,
.calendar__btn--months-dropdown {
  min-height: 0;
  line-height: 1;
  position: relative;
  text-align: left;
  .feather {
    color: transparent;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 6px;
  }
  &:hover,
  &.is-active {
    border: 1px solid $grey-600;
    .feather {
      color: $grey-600;
    }
  }
}

.calendar__btn--months-dropdown {
  min-width: 128px;
  font-weight: 600;
  color: $grey-900;
}

.calendar__btn--years-dropdown {
  min-width: 80px;
  font-size: 12px;
  font-weight: 600;
  .feather {
    top: 5px;
  }
}

.calendar__years-dropdown,
.calendar__months-dropdown {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  max-height: 232px;
  overflow-y: auto;
  @include box-shadow(2);
}

.calendar__years-list,
.calendar__months-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.calendar__radio {
  display: none;
  &:checked + .calendar__radio-label {
    color: $primary;
    &:hover {
      color: $white;
    }
  }
}

.calendar__radio-label {
  position: relative;
  display: inline-block;
  padding: 8px 8px 8px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  &:hover {
    cursor: pointer;
    background-color: $primary;
    color: $white;
    .feather {
      color: $white;
    }
  }
  .feather {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    color: $primary;
  }
}
