@import '../../styles/_variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
  }
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  list-style: none;
  padding: 0;

  li {
    padding: 0 8px;
  }
}

.navbar__logo {
  font-size: 1.75rem;
  color: $primary;
  font-family: $heading-font;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
