@import '../../styles/variables';
@import '../../styles/mixins';

.rich-text-editor {
  line-height: 1.4;
  font-size: 14px;
}

.rich-text-editor__btn {
  .feather {
    color: $grey-400;
  }
  &.is-active {
    .feather {
      color: $grey-800;
    }
  }
}

.mention {
  color: $primary;
  font-weight: 500;
  text-decoration: none;
}

p {
  margin: 0 0 8px 0;
}

ul {
  padding-left: 24px;
  margin: 0 0 8px 0;
}

.rich-text-editor__mentions-wrapper {
  height: auto;
  max-height: 140px;
}

.rich-text-editor__mentions-list {
  top: 0;
  height: 140px;
  max-height: 140px;
}
