@import '../../styles/variables';
@import '../../styles/mixins';

.rich-text-editor {
  line-height: 1.4;
  font-size: 14px;
  pre {
    background-color: $grey-900;
    padding: 0.5rem;
    border-radius: 4px;
    color: $white;
  }
  p {
    margin: 0 0 8px 0;
  }
  ol,
  ul {
    padding-left: 24px;
    margin: 0 0 8px 0;
  }
}

.rich-text-editor__btn {
  .editor-icon {
    color: $grey-400;
    pointer-events: none;
  }
  &.is-active {
    .editor-icon {
      color: $grey-800;
    }
  }
}

.mention {
  color: $primary;
  font-weight: 500;
  text-decoration: none;
}

.rich-text-editor__mentions-wrapper {
  height: auto;
  max-height: 140px;
}

.rich-text-editor__mentions-list {
  top: 0;
  height: 140px;
  max-height: 140px;
}
