@import '../../styles/variables';
@import '../../styles/mixins';

.rich-text-editor {
  line-height: 1.4;
  font-size: 14px;
}

.rich-text-editor__btn {
  .feather {
    color: $grey-400;
  }
  &.is-active {
    .feather {
      color: $grey-800;
    }
  }
}

.mention {
  color: $primary;
  font-weight: 500;
  text-decoration: none;
}
