@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 9;
  background-color: $white;
  overflow: visible;
  @include xs {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

// Content

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $white;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  padding: 12px;
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  @include xs {
    border-radius: 4px;
    @include box-shadow(5);
  }
}

.modal__btn {
  background: transparent;
  color: $grey-700;
  font-weight: 700;
  box-shadow: none;
  &:hover,
  &:active {
    box-shadow: none;
    color: $primary;
  }
}

.modal__btn--close {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 8px;
  z-index: 3;
  min-width: 0;
  width: 38px;
  height: 38px;
  line-height: 0;
  font-size: 0;
  .feather {
    color: $grey-500;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
  }
  &:hover {
    .feather {
      color: $grey-800;
    }
  }
}

.modal__content--sm {
  padding: 32px 12px 12px;
  @include xs {
    width: 300px;
    padding: 24px 20px 20px;
    height: auto;
  }
  @include sm {
    width: 340px;
    padding: 32px 24px 24px;
  }
}

.modal__content--md {
  @include xs {
    width: 400px;
    height: auto;
  }
  @include lg {
    width: 440px;
  }
}

.modal__content--lg {
  border-radius: 0;
  @include sm {
    max-width: 560px;
    height: auto;
    max-height: 90vh;
    border-radius: 4px;
  }
  @include md {
    position: fixed;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 600px;
    min-height: 400px;
    height: auto;
    justify-content: space-between;
    .modal__title {
      font-size: 1.5rem;
    }
  }
  @include lg {
    max-width: 700px;
  }
  @include xl {
    max-width: 800px;
  }
}
