@import '../../styles/_variables';
@import '../../styles/_mixins';

.main {
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  @include md {
    padding: 8px 24px;
  }
  @include lg {
    padding: 8px 32px;
  }
}

.main__header {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 24px 0;
  color: $grey-900;
}
