@import '../../styles/variables';
@import '../../styles/mixins';

.tag-input__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 34px);
  margin-left: 4px;
  padding: 4px 6px;
  border: 1px solid transparent;
  border-radius: 4px;
  &.is-active {
    border-color: $primary;
  }
  &.no-tags {
    .tag-input {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .tag__link {
    pointer-events: none;
  }
  @include md {
    .tag__link {
      pointer-events: auto;
    }
  }
}

.tag-input__wrapper {
  position: relative;
  display: inline-block;
  height: 30px;
  min-width: 100px;
  flex: 1 1 100px;
  z-index: 2;
}

.tag-input {
  border: 1px solid transparent;
  height: 30px;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  padding: 7px;
  &:focus,
  &:active {
    border-color: transparent;
  }
}

.tag-input__list {
  list-style: none;
  padding: 0;
  position: absolute;
  margin: 0;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background-color: $white;
  overflow-x: hidden;
  max-width: 100%;
  @include box-shadow(2);
}

.tag-input__item {
  cursor: pointer;
  padding: 6px;
  overflow-x: auto;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  &.is-selected {
    background-color: $primary-lt;
  }
  span,
  .tag,
  a {
    pointer-events: none;
  }
}

.tag-input__item--heading {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 0 4px 0;
  font-weight: 400;
}

.tag-input__item--new {
  background-color: $grey-000;
}

.tag-input__item--name {
  font-size: 12px;
}
