@import '../../styles/variables';
@import '../../styles/mixins';

.search-bar {
  position: relative;
  width: 0%;
  min-width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid transparent;
  float: left;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  transition: width 0.3s ease;
  -webkit-backface-visibility: hidden;
  &.is-expanded {
    width: 100%;
    max-width: 360px;
    border: 1px solid $grey-400;
    .search-form__btn {
      z-index: 11;
    }
    .search-form__submit {
      z-index: 90;
    }
    .search-form__input {
      background-color: transparent;
    }
    .search-form__btn {
      color: $primary;
    }
  }
}

.search-form {
  width: 100%;
}

.search-form__input {
  position: absolute;
  top: 0;
  left: 32px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  padding: 4px 4px 4px 0;
  height: 32px;
  width: calc(100% - 36px);
  vertical-align: middle;
  z-index: 10;
}

input[type='search'].search-form__input {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.search-form__btn,
.search-form__submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}

.search-form__submit {
  background-color: $white;
  opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.search-form__btn {
  z-index: 90;
  color: $grey-700;
  .feather {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}

.search-suggestions__categories {
  top: calc(100% + 1px);
  width: 100%;
  position: absolute;
  border: 1px solid $grey-300;
  background-color: #fff;
  z-index: 7;
  box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
  list-style: none;
  padding: 0;
}

.search-suggestions__category-name {
  font-size: 12px;
  font-weight: 500;
  color: $grey-600;
  padding: 8px;
  display: inline-block;
}

.search-suggestions__category {
}

.search-suggestions__list {
  list-style: none;
  padding: 0;
}

.search-suggestion {
  padding: 8px 16px;
  cursor: pointer;
  &:focus,
  &.is-selected {
    background-color: $primary-lt;
    outline: none;
  }
}

.search-suggestion__link {
  color: $grey-800;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  height: 100%;
}