@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: $white;
  padding: 4px 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 7;
  @include md {
    padding: 4px 24px;
  }
  @include lg {
    padding: 4px 32px;
  }
}

.header {
  &.expand-nav {
    .header__title {
      display: none;
    }
    .logo--sm {
      .logo__text {
        display: inline;
        font-size: 1.2rem;
      }
    }
    .sidebar__canvas {
      position: relative;
    }
    .sidebar,
    .sidebar__canvas {
      width: 200px;
    }
    .sidebar__section-name {
      display: inline-block;
      margin-left: 1rem;
    }
    .sidebar__btn--toggle {
      top: 2px;
      right: 24px;
      left: auto;
      position: absolute;
      .feather-arrow-right {
        transform: rotate(180deg);
      }
      @include md {
        right: 32px;
      }
      @include lg {
        right: 38px;
      }
    }
    @include md {
      + .main,
      + main {
        width: calc(100% - 200px);
        left: 100px;
      }
    }
    .topbar {
      width: calc(100% - 200px);
      margin-left: auto;
      padding-left: 0;
    }
  }
  + .main,
  + main {
    position: relative;
    @include xx {
      left: 48px;
      width: calc(100% - 48px);
    }
  }
}

.header__title {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
  margin: 0;
}

.top-bar {
  position: relative;
  padding: 8px;
  @include xx {
    left: 48px;
    width: calc(100% - 48px);
  }
}

.header__sub-title {
  font-size: 12px;
  text-align: center;
  margin-bottom: 32px;
  @include sm {
    font-size: 14px;
  }
  @include lg {
    font-size: 16px;
  }
}
