@import '../../styles/variables';
@import '../../styles/mixins';

.folder {
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-x: visible;
  position: relative;
  width: 100%;
  margin: 0 0 16px 0;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  .folder__popover-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 48px;
    z-index: 3;
  }
}

.folder__header {
  padding: 4px;
  position: relative;
  @include md {
    padding: 8px;
  }
}

.folder__popover {
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #fff;
  min-width: 200px;
  line-height: 1.15;
  @include box-shadow(2);
  a {
    color: $grey-900;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}

.folder__btn--more-actions {
  vertical-align: middle;
  .feather {
    width: 18px;
    height: 18px;
  }
}

.folder__input--title {
  border: 2px solid transparent;
  font-weight: 700;
  padding: 8px 4px 8px 0;
  background-color: transparent;
  width: calc(100% - 72px);
  height: 38px;
  font-size: 18px;
  cursor: pointer;
  &:focus:not(:read-only) {
    border-color: $primary;
    background-color: rgba($white, 0.6);
  }
  @include md {
    padding: 8px 8px 8px 0;
  }
}

.folder__content {
  position: relative;
}

.folder__cards {
  overflow-x: visible;
  overflow-y: auto;
  min-height: 16px;
  max-height: calc(100vh - 274px);
  @include md {
    max-height: calc(100vh - 290px);
  }
  @include xl {
    max-height: calc(100vh - 300px);
  }
}

.folder__tasks {
  padding: 0 8px;
  margin: 0;
  list-style-type: none;
}

.folder__btn--toggle {
  height: 38px;
  width: 24px;
  padding: 0;
  vertical-align: middle;
  .feather {
    stroke-width: 3px;
  }
  &.is-expanded {
    .feather {
      transform: rotate(90deg);
      transition: all 0.2s ease-in-out;
    }
  }
}
