@import '../../styles/variables';
@import '../../styles/mixins';

.date-picker-wrapper {
  @include sm {
    background-color: transparent;
  }
}

.date-picker {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  width: auto;
  @include box-shadow(3);
}

.date-picker__btn {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.date-picker__btn--set-due-date {
  font-weight: 600;
  padding: 8px 14px;
}

.date-picker__btn--clear {
  padding-left: 0;
}

.date-picker__btn--cancel {
  padding-right: 0;
}

.date-picker__calendar {
  width: 248px;
  height: 300px;
  margin: 0 auto;
}

.date-picker__week-day {
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  color: $grey-800;
}

.date-picker__header {
  margin-bottom: 8px;
  width: 248px;
  margin: 8px auto;
}

.date-picker__footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 248px;
  margin: 8px auto 0;
}

.date-picker__label--due-date {
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  color: $grey-700;
  margin-bottom: 4px;
}

.date-picker__due-date-wrapper {
  padding: 0 8px;
}

.date-picker__input--due-date {
  height: 30px;
  font-size: 14px;
  line-height: 1;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-width: 1px;
}
