@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
.account-setup {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 24px;
}

@media (min-width: 768px) {
  .account-setup {
    padding: 8px;
  }
}

.account-setup__input,
.account-setup__textarea {
  height: 42px;
  width: 100%;
  border: 1px solid #868e96;
}

.account-setup__input::-webkit-input-placeholder,
.account-setup__textarea::-webkit-input-placeholder {
  font-size: 14px;
}

.account-setup__input:-ms-input-placeholder,
.account-setup__textarea:-ms-input-placeholder {
  font-size: 14px;
}

.account-setup__input::-ms-input-placeholder,
.account-setup__textarea::-ms-input-placeholder {
  font-size: 14px;
}

.account-setup__input::placeholder,
.account-setup__textarea::placeholder {
  font-size: 14px;
}

.account-setup__input--teammate-email:not(:last-child),
.account-setup__textarea--teammate-email:not(:last-child) {
  margin-bottom: 16px;
}

.account-setup__input:-moz-read-only,
.account-setup__textarea:-moz-read-only {
  border: 1px solid #868e96;
}

.account-setup__input:read-only,
.account-setup__textarea:read-only {
  border: 1px solid #868e96;
}

.account-setup__textarea {
  min-height: 120px;
}

.account-setup__heading {
  font-size: 1.6rem;
  margin: 1rem 0 1.5rem;
  color: #212529;
  font-weight: 600;
}

@media (min-width: 768px) {
  .account-setup__heading {
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .account-setup__heading {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .account-setup__heading {
    font-size: 2.2rem;
  }
}

.account-setup__section-heading {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .account-setup__section-heading {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .account-setup__section-heading {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  .account-setup__section-heading {
    font-size: 1.4rem;
  }
}

.account-setup__section-subheading {
  font-weight: 600;
  font-size: 12px;
  color: #495057;
}

.account-setup__label {
  font-size: 12px;
  color: #495057;
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

.account-setup__label:not(:nth-of-type(1)) {
  margin-top: 24px;
}

.account-setup__btn {
  min-width: 80px;
  padding: 10px 12px;
}

.account-setup__btn:disabled {
  background-color: #e9ecef;
  color: #adb5bd;
  border: 1px solid #dee2e6;
}

.account-setup__link {
  color: #495057;
  font-size: 13px;
}

.account-setup__link:hover {
  color: #3e7aff;
}

.account-setup__list {
  list-style-type: none;
  padding: 0;
  margin: 16px 8px 32px;
}

.account-setup__paragraph {
  font-size: 14px;
  line-height: 1.4;
}

.account-setup__checkbox {
  border-radius: 4px;
  border-color: #868e96;
  width: 18px;
  height: 18px;
}

.account-setup__checkbox-label {
  line-height: 18px;
}

.account-setup__checkbox-label:before {
  width: 18px;
  height: 18px;
}

.account-setup__checkbox-label .feather {
  width: 14px;
  height: 14px;
  stroke-width: 3px;
}

.account-setup__section:last-child {
  margin-bottom: 24px;
}

.account-setup__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
/*# sourceMappingURL=AccountSetup.css.map */