@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  min-width: 64px;
}

button:active, button:focus {
  outline: none;
}

button .feather {
  pointer-events: none;
  vertical-align: middle;
}

button span {
  pointer-events: none;
}

.contained:disabled {
  background-color: #e9ecef;
  color: #adb5bd;
  border: 1px solid #ced4da;
}

.contained--primary {
  background-color: #3e7aff;
  color: #fff;
}

.contained--primary:not(:disabled):hover {
  background-color: rgba(62, 122, 255, 0.8);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contained--secondary {
  background-color: #fb5072;
  color: #fff;
}

.contained--secondary:not(:disabled):hover {
  background-color: rgba(251, 80, 114, 0.8);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contained--neutral {
  background-color: #495057;
  color: #fff;
}

.contained--neutral:not(:disabled):hover {
  background-color: rgba(73, 80, 87, 0.8);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.contained--success {
  background-image: linear-gradient(-20deg, #18b786 0%, 20%, #4de8b8 100%);
  color: #fff;
  font-weight: 600;
}

.contained--success:not(:disabled):hover {
  background-color: rgba(77, 232, 184, 0.8);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.outlined:disabled {
  color: #dee2e6;
  border: 1px solid #ced4da;
}

.outlined--primary {
  border: 1px solid #3e7aff;
  color: #3e7aff;
}

.outlined--primary:hover:not(:disabled) {
  background-color: #3e7aff;
  color: #fff;
}

.outlined--secondary {
  border: 1px solid #fb5072;
  color: #fb5072;
}

.outlined--secondary:hover:not(:disabled) {
  background-color: #fb5072;
  color: #fff;
}

.outlined--neutral {
  border: 1px solid #495057;
  color: #495057;
}

.outlined--neutral:hover:not(:disabled) {
  background-color: #495057;
  color: #fff;
}

.outlined--success {
  border: 1px solid #18b786;
  color: #18b786;
}

.outlined--success:hover:not(:disabled) {
  background-color: #4de8b8;
  border-color: #4de8b8;
  color: #fff;
}

.text:disabled {
  color: #dee2e6;
  background-color: transparent;
}

.text--primary {
  color: #3e7aff;
}

.text--secondary {
  color: #fb5072;
}

.text--neutral {
  color: #495057;
}

.text--success {
  color: #18b786;
}

.btn--sm {
  padding: 4px 8px;
  font-size: 0.8125rem;
}

.btn--sm .feather {
  font-size: 18px;
}

.btn--md {
  padding: 10px 12px;
  font-size: 1rem;
  min-height: 36px;
}

.btn--md .feather {
  font-size: 20px;
}

.btn--lg {
  padding: 10px 24px;
  font-size: 1.1rem;
}

.btn--lg .feather {
  font-size: 32px;
}

.icon-only {
  padding: 0;
  margin: 0;
  min-width: 0;
  line-height: 0;
}

.icon-only .feather {
  vertical-align: middle;
}

.icon-only--sm {
  font-size: 18px;
  height: 36px;
  width: 36px;
}

.icon-only--sm .feather {
  width: 18px;
  height: 18px;
}

.icon-only--md {
  font-size: 22px;
  height: 40px;
  width: 40px;
}

.icon-only--md .feather {
  width: 22px;
  height: 22px;
}

.icon-only--lg {
  font-size: 32px;
  height: 50px;
  width: 50px;
}

.icon-only--lg .feather {
  width: 32px;
  height: 32px;
}
/*# sourceMappingURL=Button.css.map */