@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
.calendar {
  width: 100%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.calendar__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -4px;
}

.calendar__week-days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar__week-day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
}

.calendar__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar__day {
  width: calc(100% / 7);
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.calendar__day .calendar__btn--day {
  color: #343a40;
}

.calendar__day.is-today .calendar__btn--day {
  color: #3e7aff;
  font-weight: 700;
}

.calendar__day.is-selected .calendar__btn--day {
  background-color: #3e7aff;
  color: #fff;
}

.calendar__day--prev-next .calendar__btn--day {
  color: #adb5bd;
}

.calendar__btn--day {
  min-width: 0;
  width: 28px;
  height: 28px;
  font-weight: 500;
  font-size: 12px;
  padding: 0;
  border-radius: 50%;
}

.calendar__btn--day:hover {
  background-color: rgba(181, 204, 255, 0.7);
}

.calendar__btn--month {
  width: 30px;
  height: 30px;
  padding: 0;
}

.calendar__btn--month:focus .feather {
  color: #495057;
}

.calendar__btn--month:hover .feather, .calendar__btn--month:active .feather {
  color: #3e7aff;
}

.calendar__heading--month {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
  margin: 0;
}

.calendar__years-dropdown-wrapper,
.calendar__months-dropdown-wrapper {
  display: inline-block;
}

.calendar__years-dropdown-wrapper {
  z-index: 5;
}

.calendar__btn--years-dropdown,
.calendar__btn--months-dropdown {
  min-height: 0;
  line-height: 1;
  position: relative;
  text-align: left;
}

.calendar__btn--years-dropdown .feather,
.calendar__btn--months-dropdown .feather {
  color: transparent;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 6px;
}

.calendar__btn--years-dropdown:hover, .calendar__btn--years-dropdown.is-active,
.calendar__btn--months-dropdown:hover,
.calendar__btn--months-dropdown.is-active {
  border: 1px solid #868e96;
}

.calendar__btn--years-dropdown:hover .feather, .calendar__btn--years-dropdown.is-active .feather,
.calendar__btn--months-dropdown:hover .feather,
.calendar__btn--months-dropdown.is-active .feather {
  color: #868e96;
}

.calendar__btn--months-dropdown {
  min-width: 128px;
  font-weight: 600;
  color: #212529;
  padding: 10px 12px;
}

.calendar__btn--years-dropdown {
  min-width: 80px;
  font-size: 11px;
  font-weight: 600;
  padding: 8px 12px;
}

.calendar__btn--years-dropdown .feather {
  top: 6px;
}

.calendar__years-dropdown,
.calendar__months-dropdown {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  max-height: 232px;
  overflow-y: auto;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.calendar__years-list,
.calendar__months-list {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.calendar__radio {
  display: none;
}

.calendar__radio:checked + .calendar__radio-label {
  color: #3e7aff;
}

.calendar__radio:checked + .calendar__radio-label:hover {
  color: #fff;
}

.calendar__radio-label {
  position: relative;
  display: inline-block;
  padding: 8px 8px 8px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.calendar__radio-label:hover {
  cursor: pointer;
  background-color: #3e7aff;
  color: #fff;
}

.calendar__radio-label:hover .feather {
  color: #fff;
}

.calendar__radio-label .feather {
  width: 14px;
  height: 14px;
  position: absolute;
  left: 8px;
  color: #3e7aff;
}
/*# sourceMappingURL=Calendar.css.map */