@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
.header {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #fff;
  padding: 2px 16px;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 11;
}

@media (min-width: 768px) {
  .header {
    padding: 2px 24px;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 2px 32px;
  }
}

.header.expand-nav .header__title {
  display: none;
}

.header.expand-nav .logo--sm .logo__text {
  display: inline;
  font-size: 1.2rem;
}

.header.expand-nav .sidebar__canvas {
  position: relative;
}

.header.expand-nav .sidebar,
.header.expand-nav .sidebar__canvas {
  width: 200px;
}

.header.expand-nav .sidebar__section-name {
  display: inline-block;
  margin-left: 1rem;
}

.header.expand-nav .sidebar__btn .feather-chevron-left {
  display: inline;
}

.header.expand-nav .sidebar__btn--toggle {
  top: 2px;
  right: 24px;
  left: auto;
  position: absolute;
}

.header.expand-nav .sidebar__btn--toggle .feather-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  .header.expand-nav .sidebar__btn--toggle {
    right: 32px;
  }
}

@media (min-width: 992px) {
  .header.expand-nav .sidebar__btn--toggle {
    right: 38px;
  }
}

@media (min-width: 768px) {
  .header.expand-nav + .main,
  .header.expand-nav + main {
    width: calc(100% - 200px);
    left: 100px;
  }
}

.header.expand-nav .topbar {
  width: calc(100% - 200px);
  margin-left: auto;
  padding-left: 0;
}

@media (min-width: 1440px) {
  .header.expand-nav .sidebar__member-detail {
    display: inline-block;
  }
}

@media (min-width: 1440px) {
  .header + .main,
  .header + main {
    left: 48px;
    width: calc(100% - 48px);
  }
}

.header__title {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
  margin: 0;
}

.top-bar {
  position: relative;
  padding: 8px;
}

@media (min-width: 1440px) {
  .top-bar {
    left: 48px;
    width: calc(100% - 48px);
  }
}

.header__sub-title {
  font-size: 12px;
  text-align: center;
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .header__sub-title {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .header__sub-title {
    font-size: 16px;
  }
}

.header--dk,
.header--login {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header--dk .logo,
.header--login .logo {
  color: #fff;
  position: absolute;
  top: 24px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .header--dk .logo,
  .header--login .logo {
    font-size: 1.6rem;
  }
}

.header--dk .feather,
.header--login .feather {
  color: #fff;
}

.header--dk .navbar__btn--toggle,
.header--login .navbar__btn--toggle {
  margin-left: auto;
}

@media (min-width: 768px) {
  .header--login .navbar__link {
    color: rgba(255, 255, 255, 0.7);
  }
  .header--login .navbar__link.active {
    color: #fff;
  }
  .header--login .navbar__link:hover {
    color: #fff;
  }
}

.header--dk .navbar__link {
  color: #343a40;
}

@media (min-width: 768px) {
  .header--dk .navbar__link {
    color: #fff;
  }
}

.header--dk .navbar__link.active {
  color: #fb5072;
}

.header--dk .navbar__link:hover {
  color: #fb5072;
}

.navbar__btn--toggle {
  width: 32px;
  height: 32px;
}

.header--landing {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header--landing.is-sticky {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=Header.css.map */