@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
@media (min-width: 1440px) {
  .header + main.landing {
    left: 0;
    width: 100%;
  }
}

.landing {
  margin-top: 44px;
  width: 100%;
  min-height: 100%;
  overflow: visible;
}

@media (min-width: 768px) {
  .landing {
    margin-top: 46px;
  }
}

.landing__section {
  padding: 24px 16px;
}

@media (min-width: 992px) {
  .landing__section {
    padding: 32px 16px;
  }
}

.landing__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 840px;
  margin: 0 auto;
}

.landing__feature:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .landing__feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 0;
  }
}

.landing__title {
  font-size: 1.8rem;
  margin: 0 0 24px 0;
  color: #212529;
  width: 100%;
  padding: 0 4px;
  text-align: center;
  font-weight: 500;
}

@media (min-width: 768px) {
  .landing__title {
    padding: 0 8px;
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .landing__title {
    font-size: 2.2rem;
  }
}

.landing__hero {
  padding: 44px 16px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .landing__hero {
    padding: 46px 16px;
  }
}

.landing__section-title {
  font-size: 1.3rem;
  font-weight: 500;
}

.landing__intro {
  text-align: center;
  max-width: 600px;
  line-height: 1.4;
  margin: 0 auto;
  color: #495057;
}

.landing__intro:not(:first-child) {
  margin-top: 16px;
}

.landing__link {
  text-decoration: none;
  color: #3e7aff;
}

.landing__link--get-started {
  display: inline-block;
  text-decoration: none;
  background-color: #3e7aff;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  margin-top: 16px;
}

.landing__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 272px;
  list-style: none;
  padding: 0;
}

@media (min-width: 576px) {
  .landing__features {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .landing__features {
    max-width: 800px;
  }
}

.landing__feature-about {
  padding: 16px;
  max-width: 320px;
}

@media (min-width: 768px) {
  .landing__feature-about {
    width: 50%;
    padding: 24px;
  }
}

.landing__img-wrapper {
  padding: 16px;
  text-align: center;
  width: 100%;
}

.landing__img-wrapper .undraw {
  max-width: 256px;
}

@media (min-width: 768px) {
  .landing__img-wrapper {
    width: 50%;
    padding: 24px;
  }
  .landing__img-wrapper .undraw {
    max-width: 288px;
  }
}

@media (min-width: 992px) {
  .landing__img-wrapper .undraw {
    max-width: 320px;
  }
}

.landing__feature-name {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 8px 0 12px;
  color: #343a40;
}

@media (min-width: 768px) {
  .landing__feature-name {
    font-size: 1.4rem;
  }
}

.landing__feature-desc {
  line-height: 1.46;
  font-size: 14px;
  color: #495057;
}

@media (min-width: 768px) {
  .landing__feature-desc {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=Landing.css.map */