@import url("https://rsms.me/inter/inter.css");
@import url("https://rsms.me/inter/inter.css");
.list-composer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 272px;
  min-width: 272px;
  margin: 0 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-color: #e1e7f3;
  border-radius: 4px;
  padding: 8px;
}

.list-composer.is-active .list-composer__input {
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.list-composer.is-list-layout {
  width: 100%;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
}

.list-composer.is-list-layout .list-composer__input {
  border: none;
  margin-bottom: 0;
  padding: 16px 4px;
  background-color: transparent;
}

.list-composer.is-list-layout .list-composer__input::-webkit-input-placeholder {
  color: #3e7aff;
}

.list-composer.is-list-layout .list-composer__input:-ms-input-placeholder {
  color: #3e7aff;
}

.list-composer.is-list-layout .list-composer__input::-ms-input-placeholder {
  color: #3e7aff;
}

.list-composer.is-list-layout .list-composer__input::placeholder {
  color: #3e7aff;
}

.list-composer.is-list-layout .list-composer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 6px 0;
  border: 1px solid transparent;
}

.list-composer.is-list-layout .list-composer__footer {
  margin-left: 4px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.list-composer.is-list-layout .list-composer__btn {
  padding: 10px 6px;
}

.list-composer.is-list-layout .list-composer__btn--icon {
  border: none;
  width: 38px;
  height: 38px;
}

.list-composer.is-list-layout .list-composer__btn--icon .feather {
  width: 18px;
  height: 18px;
}

.list-composer.is-list-layout.is-active .list-composer__input::-webkit-input-placeholder {
  color: #868e96;
}

.list-composer.is-list-layout.is-active .list-composer__input:-ms-input-placeholder {
  color: #868e96;
}

.list-composer.is-list-layout.is-active .list-composer__input::-ms-input-placeholder {
  color: #868e96;
}

.list-composer.is-list-layout.is-active .list-composer__input::placeholder {
  color: #868e96;
}

.list-composer.is-list-layout.is-active .list-composer__form {
  border-color: #868e96;
  -webkit-box-shadow: inset 0 1px #dee2e6;
          box-shadow: inset 0 1px #dee2e6;
  padding: 6px;
}

@media (min-width: 768px) {
  .list-composer.is-list-layout {
    padding: 8px 12px;
  }
}

.list-composer.is-board-layout .list-composer__btn--add:disabled {
  background-color: #ced4da;
  border-color: #adb5bd;
  color: #868e96;
}

.list-composer__input {
  background-color: transparent;
  height: 36px;
  border-color: transparent;
  padding: 0 8px;
}

.list-composer__btn--add {
  margin: 0;
  vertical-align: top;
}

.list-composer__btn {
  font-size: 14px;
  padding: 8px;
}
/*# sourceMappingURL=ListComposer.css.map */