@import '../../styles/variables';
@import '../../styles/mixins';

.header.expand-nav + main.dashboard {
  left: 100px;
}

.dashboard {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 0;
}

.dashboard__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: $grey-800;
  width: 100%;
}

.dashboard-panel__header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.dashboard-panel__name {
  font-size: 13px;
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: $haze-md;
  padding: 0;
  letter-spacing: 0.03em;
}

.dashboard-panel__content {
  padding: 8px;
  box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);
  background-color: $haze;
}

.dashboard-panel {
  // background-color: $white;
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 4px;
  border: 1px solid transparent;
  margin: 0 0 16px 0;
  @include md {
    margin: 0 8px 16px 8px;
    padding: 8px 4px;
  }
  &--lg {
    width: 100%;
  }
  &--md {
    width: 100%;
    @include md {
      width: calc(55% - 16px);
    }
  }
  &--sm {
    width: 100%;
    @include md {
      width: calc(45% - 16px);
    }
  }
  &--projects {
    .dashboard-panel__content {
      padding: 16px 8px;
    }
  }
}

.dashboard-panel__icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  color: $grey-700;
}

.dashboard-panel__link {
  text-decoration: none;
  color: $primary;
  text-transform: none;
  font-size: 12px;
  font-weight: 500;
  &:hover {
    color: darken($primary, 20%);
  }
}

.dashboard__tasks {
  .task.dashboard__task {
    border-radius: 4px;
    margin-bottom: 4px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    &:focus,
    &.is-focused {
      background-color: rgba($white, 0.85);
      box-shadow: none;
      + .dashboard__task::before {
        box-shadow: none;
      }
    }
    &:before {
      box-shadow: none;
    }
  }
}

.dashboard__project-grid {
  margin: 0 0 -16px 0;
}

.dashboard__tasks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashboard__info--empty {
  font-size: 13px;
  color: $grey-700;
  padding: 8px;
  font-style: italic;
  strong {
    font-style: normal;
  }
}

.dashboard__task {
  background-color: #fff;
  .task__tag {
    &:not(.tag--summary) {
      display: none;
      @include md {
        display: none;
      }
    }
    &.tag--summary {
      @include md {
        display: inline-block;
      }
    }
  }
}
