@import '../../styles/variables.scss';

.list-composer {
  width: 272px;
  min-width: 272px;
  margin: 0 6px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: $haze;
  border-radius: 4px;
  padding: 8px;
  &.is-active {
    .list-composer__input {
      background-color: rgba($white, 0.6);
      margin-bottom: 8px;
    }
  }
  &.is-list-view {
    width: 100%;
    margin: 0;
    background-color: $white;
    border-radius: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    .list-composer__input {
      border: none;
      border-radius: 0;
    }
    &.is-active {
      .list-composer__input {
        border-bottom: 1px solid $grey-800;
      }
      .list-composer__footer {
        padding: 8px 0;
      }
    }
  }
}

.list-composer__input {
  background-color: transparent;
  height: 38px;
  border-color: transparent;
}

.list-composer__btn--add {
  margin: 0;
  vertical-align: top;
}

.list-composer__btn {
  font-size: 14px;
}