@import '../../styles/_variables.scss';

.list-composer {
  width: 272px;
  min-width: 272px;
  margin: 0 6px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  background-color: $grey-300;
  border-radius: 4px;
  padding: 8px;
  &.is-active {
    .list-composer__input {
      background-color: rgba($white, 0.6);
      margin-bottom: 8px;
    }
  }
}

.list-composer__input {
  background-color: transparent;
  height: 38px;
}

.list-composer__btn--add {
  margin: 0;
  vertical-align: top;
}
