@import '../../styles/variables';
@import '../../styles/mixins';

.list-composer {
  width: 272px;
  min-width: 272px;
  margin: 0 6px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  background-color: $haze;
  border-radius: 4px;
  padding: 8px;
  &.is-active {
    .list-composer__input {
      background-color: rgba($white, 0.6);
      margin-bottom: 8px;
    }
  }
  &.is-list-layout {
    width: 100%;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
   // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    .list-composer__input {
      border: none;
      margin-bottom: 0;
      padding: 16px 4px;
      background-color: transparent;
      &::placeholder {
        color: $primary;
      }
    }
    .list-composer__form {
      display: flex;
      border-radius: 4px;
      padding: 6px 0;
    }
    .list-composer__footer {
      margin-left: 4px;
      flex: none;
    }
    .list-composer__btn {
       padding: 10px 6px;
    }
    .list-composer__btn--icon {
      border: none;
      width: 38px;
      height: 38px;
      .feather {
        width: 18px;
        height: 18px;
      }
    }
    &.is-active {
      .list-composer__input {
        &::placeholder {
          color: $grey-600;
        }
      }
      .list-composer__form {
        background-color: $haze;
        padding: 6px;
      }
    }
    @include md {
      padding: 8px 12px;
    }
  }
}

.list-composer__input {
  background-color: transparent;
  height: 38px;
  border-color: transparent;
}

.list-composer__btn--add {
  margin: 0;
  vertical-align: top;
}

.list-composer__btn {
  font-size: 14px;
  padding: 8px;
}