@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.search-results__title {
  font-size: 22px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  .feather {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    color: $grey-600;
    position: relative;
    top: -1px;
  }
}

.header.expand-nav + main.search-results {
  @include md {
    left: 200px;
  }
}

.search-results {
  width: 100vw;
  &.show-task-editor {
    @include md {
      .search-results__tasks {
        margin-right: 16px;
      }
    }
    .task__tag {
      &:not(.tag--summary) {
        display: none;
        @include md {
          display: none;
        }
        @include xl {
          display: inline-block;
        }
      }
      &.tag--summary {
        @include md {
          display: inline-block;
        }
        @include xl {
          display: none;
        }
      }
    }
  }
}

.search-results__query {
  font-size: 16px;
  max-width: 960px;
  margin: -12px auto 16px;
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 8px;
    color: $grey-600;
  }
  @include xl {
    font-size: 18px;
    .feather {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }
}

.search-results__tasks-wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

.search-results__tasks {
  width: 100%;
  max-width: 100%;
  .search-results__task {
    &:not(.is-focused):last-child::before {
      box-shadow: inset 0px 2px 1px -1px $grey-200;
    }
    &.is-focused + .search-results__task:last-child::before {
      box-shadow: none;
    }
  }
}
