@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.user-form {
  max-width: 400px;
}

.user-form__input {
  margin-bottom: 24px;
}

.account-settings {
  padding: 8px 16px;
  @include md {
    padding: 8px 24px;
  }
  @include lg {
    padding: 8px 32px;
  }
}

.account-settings__section {
  margin-bottom: 50px;
}

.account-settings__section-header {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 24px 0;
}

.account-settings__paragraph {
  font-size: 14px;
  line-height: 1.3;
}

.account-settings__btn--deactivate-account {
  margin-top: 16px;
}
