@import '../../styles/variables';
@import '../../styles/mixins';

.tooltip {
  position: absolute;
  pointer-events: none;
  display: inline-block;
  z-index: 99;
  background-color: $grey-700;
  color: $white;
  @include box-shadow(1);
  border-radius: 4px;
  font-size: 12px;
  padding: 8px;
  line-height: 1.4;
  white-space: pre-line;
}

.tooltip__arrow {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  &--left {
    border-right-color: $grey-700;
    border-left: none;
  }
  &--right {
    border-left-color: $grey-700;
    border-right: none;
  }
  &--top {
    border-bottom-color: $grey-700;
    border-top: none;
  }
  &--bottom {
    border-top-color: $grey-700;
    border-bottom: none;
  }
}

.btn--tooltip,
.tooltip-link {
  position: relative;
  cursor: pointer;
  box-shadow: none;
  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  &::after {
    content: attr(data-tooltip);
    background-color: $grey-800;
    color: $white;
    padding: 8px;
    top: calc(100% + 8px);
    left: -50%;
    text-align: center;
    display: block;
    border-radius: 4px;
  }
  &::before {
    content: '';
    width: 0;
    left: 4px;
    bottom: -8px;
    border-bottom: 8px solid $grey-800;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  &:hover,
  &.show-tooltip {
    background-color: $primary;
    box-shadow: none;
    &::before,
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
}

.tag-labels__btn--tooltip {
  width: 28px;
  font-size: 10px;
  height: 18px;
  font-weight: 700;
  @include md {
    display: none;
  }
  &::after {
    width: 100px;
    left: calc(50% - 50px);
    line-height: 1.6;
    z-index: 99;
  }
}
