@import './styles/variables';
@import './styles/mixins';

html {
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cloud;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: visible;
}

#root {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main {
  overflow: visible;
  margin-top: 48px;
  @include md {
    margin-top: 52px;
  }
  @include xl {
    margin-top: 68px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  -webkit-font-smoothing: subpixel-antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
