@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 4px 0;
  a {
    text-decoration: none;
  }
  @include md {
    padding: 8px 0;
  }
  &.show-links {
    .navbar__links {
      display: flex;
    }
  }
}

.navbar__links {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  background-color: $white;
  border-radius: 4px;
  padding: 8px 0;
  width: auto;
  margin: 0;
  min-width: 200px;
  z-index: 3;
  list-style: none;
  color: $primary;
  @include box-shadow(2);
  li {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .navbar__link,
  .navbar__btn {
    width: 100%;
    display: inline-block;
    height: 100%;
    text-align: left;
  }
  .navbar__link,
  .navbar__btn,
  button {
    padding: 12px 16px;
    &:hover {
      background-color: $primary;
      color: $white;
    }
    @include md {
      &:hover {
        background-color: transparent;
        color: $secondary;
      }
    }
  }
  @include md {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: none;
    top: 0;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    li {
      color: inherit;
      width: auto;
    }
  }
  a,
  button {
    color: inherit;
    font-family: $heading-font;
    font-weight: 600;
  }
}

.navbar__logo {
  font-size: 1.2rem;
  font-family: $heading-font;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  @include md {
    font-size: 1.4rem;
  }
}

.navbar__link,
.navbar__btn {
  &.active {
    color: $primary;
  }
}

.navbar__btn {
  min-height: 0;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar__btn--toggle {
  width: 32px;
  height: 32px;
  @include md {
    display: none;
  }
}
