@import '../../styles/_variables';
@import '../../styles/_mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  &.is-collapsed {
    .navbar__links {
      flex-direction: column;
      position: absolute;
      top: 40px;
      right: 0;
      display: none;
      background-color: $white;
      border-radius: 4px;
      padding: 8px 0;
      min-width: 160px;
      z-index: 3;
      @include box-shadow(2);
      li {
        width: 100%;
        padding: 0;
      }
      a {
        width: 100%;
        display: inline-block;
        height: 100%;
      }
      a,
      button {
        padding: 6px 14px;
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
    &.show-links {
      .navbar__links {
        display: flex;
      }
    }
  }
  @include md {
    padding: 4px 0;
  }
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0 8px;
  }
  @include md {
    padding: 8px 0;
  }
  @include xl {
    padding: 16px 0;
  }
  a,
  button {
    color: $primary;
    font-family: $heading-font;
    font-weight: 600;
  }
}

.navbar__logo {
  font-size: 1.2rem;
  color: $primary;
  font-family: $heading-font;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  @include md {
    font-size: 1.4rem;
  }
  a {
    color: $primary;
  }
}
