@import '../../styles/variables';
@import '../../styles/mixins';

.settings__dropdown-wrapper {
  margin-top: 8px;
}

.settings {
  background-color: $white;
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  min-width: 120px;
  line-height: 1.15;
  @include box-shadow(2);
  .settings__setting:nth-last-of-type(1) {
    .settings__dropdown-wrapper {
      z-index: 0;
    }
  }
}

.settings__setting {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  color: $grey-800;
}

.settings__select-label {
  position: relative;
  display: inline-block;
  padding: 6px 8px 6px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  &:hover {
    cursor: pointer;
    background-color: $primary;
    color: $white;
    .feather {
      color: $white;
    }
  }
  .feather {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 8px;
    color: $primary;
  }
}

.settings__btn--dropdown {
  font-size: 14px;
  border: 1px solid $grey-600;
  width: 120px;
  text-align: left;
  position: relative;
  padding: 6px 8px;
  .feather {
    width: 16px;
    height: 16px;
    font-size: 14px;
    position: absolute;
    right: 4px;
  }
}

.settings__btn--close {
  position: absolute;
  top: 0;
  right: 0;
}

.settings__fieldset {
  position: relative;
  padding: 6px 0;
  border: none;
}

.settings__radio {
  display: none;
  &:checked + .settings__radio-label:before {
    border: 5px solid $primary;
  }
}

.settings__radio-label {
  display: block;
  position: relative;
  width: calc(100% - 16px);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle;
  padding: 6px 0 6px 22px;
  &:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $grey-500;
    left: 0;
    top: calc(50% - 7px);
    vertical-align: middle;
  }
}

.settings__btn--save {
  margin-left: 16px;
  margin-top: 4px;
  padding: 8px;
  min-width: 0;
}
