@import '../../styles/_variables';
@import '../../styles/_mixins';

.task-editor__comment-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.task-editor__comment {
  width: 100%;
}

.task-editor__comment-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task-editor__timestamp {
  font-size: 11px;
  color: $grey-600;
}

.task-editor__name {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  color: $grey-900;
}

.task-editor__comment-body {
  font-size: 14px;
  color: $grey-800;
}

.task-editor__likes {
  min-width: 0;
  padding: 2px 14px 2px 0;
  position: relative;
  color: $grey-700;
  .feather {
    width: 16px;
    height: 16px;
    color: $grey-700;
  }
}

.task-editor__likes-counter {
  font-size: 11px;
  position: absolute;
  left: 18px;
  font-weight: 600;
}

.task-editor__comment-avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 11px;
}

.task-editor__comment-avatar-placeholder {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 12px;
}
