@import '../../styles/variables';
@import '../../styles/mixins';

.task-editor-modal {
  .task-editor__wrapper {
    width: 100%;
    padding: 4px 16px 16px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
    @include sm {
      max-height: calc(90vh - 40px);
      padding: 8px 20px 16px;
    }
    @include md {
      padding: 8px 24px 16px;
    }
    @include lg {
      padding: 8px 28px 16px;
    }
  }
}

.task-editor {
  padding: 40px 0 0;
  @include sm {
    max-height: 90vh;
    width: 90%;
    max-width: 640px;
  }
  @include lg {
    max-width: 720px;
  }
}

.task-editor__btn--close {
  top: 0;
  @include md {
    right: 8px;
  }
}

.task-editor__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  padding: 0;
  min-height: min-content;
  overflow: visible;
  &.is-focused {
    .task-editor__section-icon > .feather {
      color: $primary;
    }
  }
  &--sm {
    display: flex;
    width: 100%;
  }
  &--comments {
    padding-bottom: 96px;
    @include sm {
      padding-bottom: 0;
    }
  }
}

.task-editor__textarea--title {
  width: calc(100% + 12px);
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2rem;
  height: 46px;
  color: $grey-900;
  padding: 6px;
  position: relative;
  left: -6px;
  line-height: 1.2;
  &:focus {
    border-color: $primary;
  }
}

.task-editor__textarea {
  line-height: 1.4;
  min-height: 40px;
  overflow: hidden;
  margin-top: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  vertical-align: top;
  font-size: 14px;
  background-color: transparent;
}

.task-editor__textarea--description {
  padding: 8px;
  width: calc(100% - 34px);
  margin-left: 4px;
}

.task-editor__textarea--comment {
  width: 100%;
  padding: 0;
  border: none;
}

.task-editor__textarea--new-subtask {
  width: 100%;
  padding: 0;
  border: none;
  line-height: 1.4;
  overflow: hidden;
  margin-top: 0;
  border-radius: 4px;
  vertical-align: top;
  font-size: 14px;
  background-color: transparent;
}

.is-focused > .task-editor__textarea--comment {
  min-height: 30px;
}

.task-editor__textarea--comment {
  min-height: 0;
}

.task-editor__section-icon {
  height: 40px;
  line-height: 38px;
  padding: 0 6px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: $grey-600;
  .feather {
    vertical-align: middle;
    width: 18px;
    height: 18px;
  }
}

.task-editor__subtask-composer-icon-wrapper {
  height: 40px;
  line-height: 34px;
  padding: 0 6px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: $grey-600;
  .feather {
    vertical-align: middle;
    width: 18px;
    height: 18px;
  }
}

.task-editor__due-date-icon {
  padding: 4px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  color: $grey-600;
  line-height: 1;
  .feather {
    width: 18px;
    height: 18px;
  }
}

.task-editor__btn--add-member {
  min-width: 0;
  min-height: 0;
  margin: 5px 0 5px 8px;
  width: 30px;
  height: 30px;
  line-height: 16px;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  border: 1px dashed $grey-400;
  border-radius: 50%;
  padding: 0;
  .feather {
    width: 16px;
    height: 16px;
    font-size: 16px;
    vertical-align: middle;
    color: $grey-400;
  }
  &:hover,
  &:active {
    border-color: $primary;
    .feather,
    span {
      color: $primary;
    }
  }
}

.task-editor__edit-task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: min-content;
}

.task-editor__comment-composer,
.task-editor__new-subtask-form {
  display: inline-flex;
  flex-direction: column;
  width: calc(100% - 34px);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
  margin-left: auto;
  &:focus,
  &.is-focused {
    border-color: $primary;
  }
}

.task-editor__comment-composer {
  width: calc(100% - 38px);
  border: 1px solid $grey-300;
  margin-left: 4px;
}

.task-editor__btn--submit-comment,
.task-editor__btn--add-subtask {
  flex: none;
  min-width: 0;
  padding: 8px;
  z-index: 3;
  font-size: 14px;
}

.task-editor__btn--add-subtask {
  margin-top: 8px;
  align-self: flex-start;
}

.task-editor__hr {
  border-top: 1px solid $grey-300;
  border-bottom: none;
  width: 100%;
  flex: 1 1 auto;
}

.task-editor__toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 44px);
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
  border-bottom: 1px solid $grey-300;
  z-index: 5;
  height: 40px;
  &:after {
    content: '';
    position: absolute;
    width: 44px;
    border-bottom: 1px solid $grey-300;
    left: 100%;
    top: 100%;
  }
  @include md {
    padding-left: 9px;
  }
}

.task-editor__popover-wrapper {
  line-height: 1;
  &:last-child {
    margin-left: auto;
  }
  &.is-active {
    .feather {
      color: $primary;
    }
  }
  &.task-editor__member-search-popover-wrapper {
    position: static;
    &.is-active {
      z-index: 4;
    }
  }
}

.task-editor__member-assigner {
  z-index: 3;
}

.task-editor__popover {
  border: 1px solid $grey-300;
  border-radius: 4px;
  padding: 8px 0;
  background-color: #fff;
  min-width: 160px;
  @include box-shadow(2);
  a {
    color: $grey-800;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }
  &.task-editor__member-search-popover {
    top: 0;
    left: 44px;
    width: calc(100% - 8px);
    z-index: 99;
    padding: 0;
    box-shadow: none;
    border-color: transparent;
    max-width: 400px;
  }
}

.task-editor__toolbar-btn {
  width: 38px;
  height: 38px;
  line-height: 0;
  .feather {
    color: $grey-500;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
  }
  &:hover {
    .feather {
      color: $grey-800;
    }
  }
}

.task-editor__comments {
  width: 100%;
}

.task-editor__members {
  display: flex;
  width: auto;
  margin-top: 5px;
  margin-left: 11px;
}

.task-editor__section-header {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  width: 100%;
}

.task-editor__section-title {
  flex: 0;
  padding: 11px 0;
  font-size: 13px;
  margin: 0 16px 0 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: $grey-700;
  &--sm {
    font-size: 11px;
    font-weight: 600;
    color: $grey-700;
    line-height: 1;
    padding: 0;
    width: 100%;
    margin: 0 0 3px 0;
    display: inline-block;
  }
}

.task-editor__section-detail {
  font-size: 13px;
  font-weight: 500;
  color: $grey-700;
  margin-right: 6px;
}

.task-editor__no-due-date {
  font-size: 14px;
  font-weight: 500;
  color: $grey-700;
}

.task-editor__btn--due-date {
  min-height: 0;
  padding: 4px 0;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  &:focus,
  &:hover,
  &:active,
  &.is-active {
    span,
    .feather {
      color: $primary;
    }
  }
}

.task-editor__due-date-wrapper {
  margin-left: 14px;
  text-align: left;
}

.task-editor__due-date {
  font-size: 14px;
  text-align: left;
  color: $grey-900;
  font-weight: 600;
  line-height: 12px;
  display: inline-block;
  width: 100%;
  &.is-due-today {
    color: $secondary;
  }
  &.is-due-tmrw {
    color: $primary;
  }
  &.is-past-due {
    color: $red;
  }
}

.task-editor__placeholder--unassigned {
  font-size: 14px;
  color: $grey-600;
  padding: 11px 0;
  margin-left: 4px;
}

.task-editor__avatar {
  width: 30px;
  height: 30px;
  line-height: 30px;
  &:not(:last-child) {
    margin-right: 4px;
  }
  &:last-child {
    margin-right: -3px;
  }
}

.task-editor__avatar-placeholder {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 12px;
}

.task-editor__project-icon {
  vertical-align: top;
}

.task-editor__project-name {
  font-size: 12px;
  margin: 0 6px;
  height: 24px;
  line-height: 24px;
}

.task-editor__project-badge {
  color: $grey-800;
  font-weight: 500;
}

.task-editor__btn--toggle-completed {
  font-size: 14px;
  line-height: 18px;
  padding: 6px 10px 6px 8px;
  min-height: 0;
  .feather {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin-right: 4px;
  }
}

.task-editor__project-list-dropdown-btn--toggle {
  font-size: 14px;
  height: 24px;
  font-weight: 400;
  color: $grey-600;
}

.task-editor__subtasks-container {
  width: 100%;
  background-color: $grey-000;
  border-radius: 4px;
  padding: 4px 0;
  margin: 0 6px;
}
.task-editor__subtask-composer {
  padding: 0 4px 0 14px;
}

.task-editor__badge--private {
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: $grey-600;
  text-decoration: none;
  vertical-align: middle;
  padding: 0;
  border: 1px solid transparent;
  font-size: 11px;
  margin: 0 5px;
  line-height: 14px;
  &:before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 6px;
    background-color: $grey-600;
  }
}

.task-editor__private-indicator {
  line-height: 16px;
  font-size: 0;
  flex: none;
}
