@import '../../styles/variables';
@import '../../styles/mixins';

.subtask-composer {
  &.is-active {
    .subtask-composer__icon {
      color: $primary;
    }
  }
}
.subtask-composer__btn--add {
  &:disabled {
    background-color: $grey-300;
    border-color: $grey-500;
    color: $grey-500;
  }
}